[2015-10-08 19:48] warpech opened #1 "50% of the times the page loads empty"
50% of the times, the page loads empty.

Screencast (me pressing CMD+R):
![bug](https://cloud.githubusercontent.com/assets/566463/10377903/32391ccc-6e06-11e5-83fb-7f25f4907cf6.gif)

Reproducible only with Dev Tools closed.

@tomalec, any ideas?

[2015-10-12 20:13] warpech opened #3 "hot-table does not update when a new row is added"
When a new row is added to the observed array, `hot-table` throws an error:

[code]

![image](https://cloud.githubusercontent.com/assets/566463/10437468/a9a2c89c-712d-11e5-9b25-70be21db1adc.png)

To reproduce:

- start KitchenSink
- go to http://localhost:8080/kitchensink/Datagrid
- click "Add a pet"

@budnix, @jakubklekota could you take a look?

[2015-11-26 11:12] warpech opened #4 "When running in Launcher, text inputs are not clickable"
To reproduce:

1. Start Launcher
2. Start KitchenSink
3. Go to http://localhost:8080/KitchenSink/Text
4. Try to type in the "Name" field

[2015-11-26 11:55] tomalec commented on #4
Seems to be related to the general "z-index with Shadow DOM" problem. Still digging, for clean solution.

[2015-11-26 12:10] tomalec commented on #4
Quick fix: Update all your layouts, to hide `dom-bind-notifier`
Nice fix: Fix the rendering of items `100% x 0`

[2015-11-26 13:26] tomalec commented on #4
Here is old issue on this topic https://github.com/Juicy/juicy-tile-grid/issues/18

[2015-11-26 13:36] tomalec commented on #4
I have created issue https://github.com/Juicy/juicy-tile-grid/issues/26 to reflect the root cause of this issue in juicy-tile-grid

[2015-11-26 15:09] #4 closed

[2015-11-30 07:34] miyconst opened #5 "Add datetime field with a picker example"
@warpech, take this if you have a chance, please.

[2015-12-04 15:38] warpech opened #6 "Pattern for input validation"
WDYT?

[code]

[code]

[2015-12-04 15:46] tomalec commented on #6
LGTM,

But i think we could try make it even easier if someone would like to stick to our convention:
[code]
If Polymer would support such thing.
With Aurelia it should be doable

[2015-12-04 16:12] jwillmer commented on #6
Link to the problem: [How to get a event in JS if some JSON property changes?](https://github.com/Starcounter/Starcounter/issues/3145#issuecomment-161932462)

I think the solution of @warpech solves the issue of noticing an property change event but in order to remove js logic from a script block it generates long and unreadable html elements. @tomalec proposal is a little bit better but espaciall

[2015-12-06 21:04] tomalec commented on #6
`model.Errors.*` is now regular Polymer thing. However, I'm not 100% sure it will work for our case, but as I get Polymer guys, doing such things *is supposed* to be supported ;)

[2015-12-07 13:37] miyconst commented on #5
Done with usage of [Pikaday](https://github.com/display-interactive/pikaday-decorator).

[2015-12-07 13:37] #5 closed

[2015-12-07 14:27] miyconst opened #7 "Add example of page redirection"
cc @warpech

[2015-12-07 14:28] warpech opened #8 "Switch to use implicit standalone mode"
Copy from https://github.com/StarcounterSamples/AppStoreClient/commit/2f9b30714dbcee9d738a51005e79d8d98005b7f9#diff-7076aca9ad92ff01fe4f55eaf77ef2c8

[2015-12-07 15:10] warpech commented on #8
Closed via https://github.com/StarcounterSamples/KitchenSink/commit/ab0777a489899c23710217df58e288090903d902

[2015-12-07 15:10] #8 closed

[2015-12-07 15:21] warpech commented on #7
Done

[2015-12-07 15:21] #7 closed

[2015-12-07 16:34] warpech commented on #1
Doesn't happen anymore

[2015-12-07 16:34] #1 closed

[2015-12-08 13:24] warpech opened #9 "Add example of partial nesting"

[2015-12-08 14:16] warpech commented on #9
Done

[2015-12-08 14:16] #9 closed

[2015-12-09 09:48] warpech opened #10 "The URL to the map can't be /KitchenSink/map"
I would like to change the URL to the page about `<google-map>` from:

[code]

to:

[code]

but then it stops working:

<img width="1431" alt="screen shot 2015-12-09 at 10 45 56" src="https://cloud.githubusercontent.com/assets/566463/11681909/0ee3788a-9e62-11e5-86ef-9d831626533c.png">

Results in exactly the same problem as:

https://github.com/Starcounter/Starcounter/issues/3126

[2016-01-05 15:47] warpech opened #11 "Add x-breadcrumb example"

[2016-01-05 15:47] warpech commented on #11
Let know @jwillmer when done

[2016-01-08 17:30] warpech commented on #11
This is now finished. Additional changes will be tracked in separate issues

[2016-01-08 17:30] #11 closed

[2016-01-12 08:01] warpech opened #12 "Update the usage of puppet-redirect"
Switch to be using the new path `/sys/puppet-redirect/puppet-redirect.html`.

Please release a new version when done.

[2016-01-12 10:33] tomalec commented on #12
and what about https://github.com/PuppetJs/puppet-redirect/issues/1#issuecomment-170517367?

[2016-01-12 13:59] warpech commented on #12
I will reply in https://github.com/PuppetJs/puppet-redirect/issues/1#issuecomment-170517367, but I don't think that issue blocks this in any way. The path to the file will stay the same.

[2016-01-12 15:12] tomalec commented on #12
But the doubt on "read-only" remains, so should it be used with two- or
one-way Polymer binding.
12 sty 2016 14:59 "Marcin Warpechowski" <notifications@github.com>
napisał(a):

[2016-01-21 11:21] warpech opened #13 "Application does not start in Starcounter 2.1.177"
I cannot start the app in Starcounter 2.1.177.

There are three cryptic error messages in the log:

[code]

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/566463/12479125/5926d826-c039-11e5-98ab-536a687c431d.png)

@per-samuelsson any idea?

[2016-01-21 11:24] warpech commented on #13
I don't get this problem in current nightly, meaning it is not a problem in current Starcounter anymore. But is there anything I can do to make it work in 2.1.177? I wonder if there is some single thing causing it

[2016-01-21 11:28] per-samuelsson commented on #13
I am too. I'm currently looking through issues from the history to see if can find some clue: https://github.com/Starcounter/Starcounter/search?q=ScErrUnhandledWeaverException&type=Issues. The error you are experiencing is more or less an internal bug IMO.

You have to give me at least a few minutes :clock1030:

[2016-01-21 11:30] per-samuelsson commented on #13
Meanwhile, can you test something for me:

Browse to the folder of the `KitchenZink.exe`  and run

[code]

when having 2.1.177 installed to see if that work.

[2016-01-21 11:32] warpech commented on #13
Thanks!

Unfortunately, same problem:

[code]

In context of the search results linked above: KitchenSink does not use SO (directly nor indirectly). It defines only a single Database class: [TreeItem](https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/BreadcrumbPage.json.cs)

[2016-01-21 11:34] per-samuelsson commented on #13
None of our applications do anymore, unfortunatelly. You always get all the ones from the installation too, whether you like it our not.

[2016-01-21 11:36] per-samuelsson commented on #13
Argh. Try this then:

[code]

[2016-01-21 11:37] per-samuelsson commented on #13
(What I'm shooting for is that its probably something with all the libraries being pulled in, rather than with your application itself).

[2016-01-21 11:42] warpech commented on #13
Spot on! No error with `scweaver --nocache --disableeditionlibraries KitchenZink.exe`

But using just `scweaver`, the app is not listed in Administrator, does not respond to HTTP requests etc. Anything I can do?

[2016-01-21 11:45] per-samuelsson commented on #13
Nah, exactly. Just wanted to first "take a few steps back" to narrow the scope a little. In Starcounter nowadays, you simply can't run a stand-alone application, as you know. You always will get those libraries, whether you like it or not.

FWIW, [this October issue](https://github.com/Starcounter/Starcounter/issues/2997) from @miyconst seem to be more or less the same thing. I'm trying to find ou

[2016-01-21 11:47] per-samuelsson commented on #13
Good and bad news: this issue was [fixed](https://github.com/Starcounter/Starcounter/issues/2997#issuecomment-151876759). Bad news: it's not fixed in 2.1.177. :cry:

[2016-01-21 11:51] per-samuelsson commented on #13
If you really, really, really know what you are doing, and you absolutely want just that `KitchenZink.exe` to run on 2.1.177, you could go in an rename `%StarcounterBin%\EditionLibraries` and I *think* it should work. You might need to delete the application folder with weaved artifacts first though.

[2016-01-21 11:53] per-samuelsson commented on #13
That would be this folder in this particular case:

[code]

[2016-01-21 11:54] chrhol commented on #13
You can disable loading the edition libraries in the setting for the database. Just change the property `<LoadEditionLibraries>` to `False` in the database config file.

[2016-01-21 11:54] warpech commented on #13
Great, thanks! That's enough for me

[2016-01-21 12:01] per-samuelsson commented on #13
Ahh, I forgot that we actually had some of that surfaced (at least to the point of manual XML config). Thanks for pointing that out @chrhol!

If you decide to take that advice up, be sure you restart the database for it to take effect.

[2016-02-04 11:22] jwillmer opened #14 "Add table/select example"
Example of creating a table and selecting an item in the table.

Make a note in the example about the polymer bug: https://github.com/Polymer/polymer/issues/2497

[2016-02-05 10:11] warpech commented on #14
Thanks but where did you add it? Perhaps you forgot to push/make a pull request

[2016-02-05 10:12] miyconst commented on #14
I think @jwillmer meant, that we should add it to KitchenSink with note, that `onclick="++this.value;"` works only if the HTML node does not have child nodes.

[2016-02-05 10:29] jwillmer commented on #14
Sorry, did too much in parallel yesterday. The title is misleading. @miyconst is right, it is a proposal.

[2016-02-05 10:47] warpech commented on #13
Actually setting `<LoadEditionLibraries>` to `false` in `C:\db\Personal\Personal.server.config` does not help. Renaming the directory to `EditionLibraries_` helps.

@chrhol can you verify if this is some bug in config reader?

[2016-02-05 10:51] warpech commented on #13
This is funny because I can see that `<LoadEditionLibraries>false` prevents Simplified and SO from being weaved. So this is not a bug in config reader.

I guess this is not worthwhile investigating, but it is a bummer. Hopefully we will have a stable release soon.

[2016-02-05 10:51] #13 closed

[2016-02-05 10:59] warpech commented on #3
I upgraded to hot-table 0.3.1, but it didn't help. Needs further investigation.

[2016-02-09 11:03] warpech opened #15 "Basic HTML/CSS pattern in KitchenSink (apply Bootstrap)"
Use the same HTML/CSS pattern in KitchenSink as in sample apps. Now it is completely misleading

Needs to take the referenced issues into the account

[2016-03-04 12:27] warpech opened #16 ""Map" link doesn't work"

[2016-03-07 09:06] miyconst opened #17 "Create file upload example"

[2016-03-07 18:44] miyconst commented on #17
The file upload example is ready:

![image](https://cloud.githubusercontent.com/assets/6435556/13579274/e3dae93a-e49c-11e5-9954-e238450ac944.png)

Available at `/KitchenSink/FileUpload`. Client side control is here: https://github.com/Starcounter/starcounter-upload/.

[2016-03-07 18:44] #17 closed

[2016-03-08 17:08] warpech opened #18 "Add Selenium tests"
This issue is to explore adding Selenium tests to KitchenSink.

All of the demonstrated material from KitchenSink should also be tested in KitchenSink.Test.

KitchenSink tests should be part of Starcounter build process, to catch breaking changes.

[2016-03-08 17:09] warpech commented on #18
In result, write an article about Selenium testing for starcounter.io

[2016-03-08 17:12] warpech commented on #18
I have pushed an initial version of tests. They are added to the solution as a separate project.

The tests pass for me in Firefox and Chrome (Windows 10 64 bit).

@miyconst Could you please check if it works for you too?

![image](https://cloud.githubusercontent.com/assets/566463/13609425/37ed33d6-e559-11e5-945a-0932eb0cc2a6.png)

[2016-03-08 18:16] warpech commented on #18
IE11 has some problems which have been submitted to https://github.com/webcomponents/webcomponentsjs/issues/504 and https://github.com/SeleniumHQ/selenium/issues/1765. Hopefully someone helps.

[2016-03-08 20:40] miyconst commented on #18
I confirm that tests pass for me in Chrome and FF.

[2016-03-08 21:13] miyconst commented on #18
Also confirm that two of the tests fail in IE. Edge didn't even start for me.

[2016-03-08 23:38] warpech commented on #18
Thanks for checking! Edge driver is not even there, so it won't start. I will add it when I find it on NuGet.

[2016-03-09 15:33] warpech commented on #18
It seems that using NuGet for installing drivers was a bad idea because 3rdparty drivers are unmaintained there.

I switched to use RemoteWebDriver NuGet package (which also works fine on a local machine). It complicated the installation procedure, but allows us to use the most recent drivers, including Edge.

Installation instructions are here: https://github.com/warpech/SeleniumTest

@miyconst,

[2016-03-17 08:27] warpech commented on #15
Basically, this means to adopt the suggested Bootstrap pattern in KitchenSink. This is a suggestion to be followed in all of the apps.

[2016-03-17 08:28] warpech commented on #15
This is a basis for advertising a common pattern that will be recognized by in https://github.com/Starcounter/RebelsLounge/issues/14

[2016-03-17 11:51] warpech commented on #15
@aloscha will add the correct Bootstrap pattern to the KitchenSink

I will write an article about it.

[2016-03-17 13:28] miyconst commented on #18
I have finally set up the environment (a Hyper-V virtual machine) for selenium testing. It took me almost two hours.

And I confirm that all tests pass.

[2016-03-17 13:30] miyconst commented on #18
@warpech it would be good to add java download link: https://java.com/en/download/, and I tested with `selenium-server-standalone-2.53.0.jar`.

[2016-03-17 13:52] warpech commented on #18
Yikes. In your setup, did you run Starcouner and `KitchenSink.exe` in that Virtual Machine, or in the host machine?

[2016-03-17 14:01] miyconst commented on #18
Everything is inside the virtual machine.

You don't have much room to speed it up. Keep in mind, that everything were installed from scratch, Windows, Visual Studio, NodeJs, Bower, GitHub, Java.

[2016-03-17 14:26] warpech commented on #18
There is room. You can start Starcounter and the tested app on the host and connect to the remote (virtual machine) that runs the Selenium driver server. Just change the IP of the Selenium server from 127.0.0.1 to that of the Selenium server.

I have created a separate issue to track how to configure this in our CI: https://github.com/Starcounter/CompanyTrack/issues/185

[2016-03-17 14:53] warpech commented on #15
To wrap up - the task is to apply the Bootstrap pattern used in the Products app (https://github.com/StarcounterSamples/People/blob/master/src/People/wwwroot/People/viewmodels/OrganizationPage.html) to KitchenSink.

[2016-03-17 15:28] warpech opened #19 "Apply BEM to KitchenSink's private CSS"
Switch KitchenSink's private CSS in file https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/wwwroot/KitchenSink/style.css to follow BEM patterns described in https://github.com/Starcounter/Starcounter/issues/3450

[2016-03-17 16:17] aloscha opened #20 "Add Drag and drop to File Uploader"
Nice to have drag and drop funconality in file uploader.

[2016-03-21 10:59] aloscha opened #21 "Redirect page doesn't work."
After running solutions, please go to Redirect page. Then in Google Chrome Console we will see:
`puppet-redirect.html:1 GET http://localhost:8080/sys/puppet-redirect/src/puppet-redirect.html 404 (Not Found)`

[2016-03-21 12:29] warpech commented on #21
This is because of the change of path in `puppet-redirect` project to `/sys/puppet-redirect/puppet-redirect.html` after Starcounter stable 2.1.177 was released.

Until the next stable, maybe we should actually import both paths?

[code]

I think the best solution would be to add `/sys/puppet-redirect/src/puppet-redirect.html` back to Starcounter /sys/, just with a comment saying "You are using `pu

[2016-03-21 12:57] aloscha commented on #16
The error receives:
`puppet.js:307 GET http://localhost:8080/KitchenSink/Geo 404 (Not Found)PuppetNetworkChannel.xhr @ puppet.js:307PuppetNetworkChannel.changeState @ puppet.js:246PuppetDOM.morphUrl @ puppet-dom.js:67PuppetDOM.clickHandler @ puppet-dom.js:100
puppet.js:285 Uncaught Error: PuppetJs JSON response error. Server responded with error 404 Not Found

Error 404: Resource "/kitchensink/geo

[2016-03-21 13:45] aloscha commented on #16
After fixed on NavPage, the error is the same as in https://github.com/StarcounterSamples/KitchenSink/issues/10

[2016-03-21 16:18] aloscha commented on #10
Indeed. The problem was with naming url MAP. After changes in https://github.com/StarcounterSamples/KitchenSink/tree/Map_Link_%2310 to GEO, everything works like a charm

[2016-03-22 10:24] warpech commented on #19
In the file **style.css**, every selector, which is not-Bootstrap, should be changed to follow BEM principles.

Selectors in static files (such as [NestedPartial.html](https://github.com/StarcounterSamples/KitchenSink/blob/d956c60fd792b539a91f263107a98ebe0f09fe19/src/KitchenSink/wwwroot/KitchenSink/NestedPartial.html) should also be changed to follow BEM.

Bootstrap selectors need to stay unchange

[2016-03-22 11:26] aloscha opened #22 "Cancel in FileUploder generate error"
When you add big file (I add file 300mb) and then quickly cancel that one, in Uploading Files we will have:

I think the progress needs to be empty and "Error uploading file" could change to cancel uploading file, because error suggest something wrong with connection (not user action)

[2016-03-23 13:56] warpech opened #23 "Change partials used in KitchenSink to use Self.GET"
Currently, page partials in KitchenSink are attached using `CurrentPage = new ...`, which means that they are not layoutable in Launcher's layout editor.

Change attachent of partials to use `Self.GET`, which will allow to store layout changes.

[2016-03-24 15:37] aloscha commented on #23
@miyconst Could you review my commit

[2016-03-25 13:04] miyconst commented on #23
I have added some comments to the commits.

[2016-03-26 10:59] warpech commented on #10
Merged, thanks!

[2016-03-26 11:04] warpech commented on #10
But this doesn't solve the orignal problem that I want the url to be `.../map`, not some workaround word. I have pushed the code that reproduces the problem to a new branch: https://github.com/StarcounterSamples/KitchenSink/tree/Starcounter_issue_3126

Steps to reproduce:

1. Build and start app
2. Go to `http://localhost:8080/KitchenSink` in the web browser
3. Click on the "Map" link

Expected:

[2016-03-26 11:09] warpech commented on #21
Duplicate: https://github.com/StarcounterSamples/KitchenSink/issues/12

[2016-03-26 11:09] warpech commented on #16
This is fixed by @aloscha in #10

[2016-03-26 11:09] #16 closed

[2016-03-26 12:42] warpech commented on #19
There are some comments in https://github.com/StarcounterSamples/KitchenSink/commit/ad5550d090600a7321abcd361860d82fd74b0a1c that need to be applied before we can merge this.

[2016-03-26 12:54] warpech commented on #15
The following *divitis* (existence of wrapping divs) is totally not needed:

[code]

Should be changed to this:

[code]

It is an artifact from old requirements of layout editor that also exists in other sample apps. But this should not be repeated in Kitchen Sink. It should also be removed from other sample apps in future.

@aloscha can you please fix? After this we can merge.

This was also foun

[2016-03-26 12:58] warpech commented on #21
@aloscha, when marking issue for code review, could you also paste a link to the branch? Like this: https://github.com/StarcounterSamples/KitchenSink/tree/Redirect_page_%2321

[2016-03-26 12:59] warpech commented on #21
@tomalec, don't you think that a solution to these problems would be to include the Custom Element definition HTML at two locations for some time? One of them might have a warning that it's deprecated.

Or is there any problem if two partials in my app import an element from two locations?

[2016-03-26 13:00] warpech commented on #23
@aloscha please update the issue once you apply the proposed changes.

[2016-03-26 14:19] tomalec commented on #21
AFAIK There will be a browser error thrown that you are trying to register already registered element.

[2016-03-27 21:45] aloscha commented on #23
@miyconst I do changes what you write about.

[2016-03-28 09:55] aloscha commented on #21
@warpech could we merged https://github.com/StarcounterSamples/KitchenSink/tree/Redirect_page_%2321 into master?

[2016-03-28 10:45] miyconst commented on #23
@aloscha

- You should follow our coding style, at least in the internal Starcounter projects. You can read more here: https://github.com/Polyjuice/Polyjuice/wiki/C%23-code-formatting.
- The solution you provided works, but I would prefer to keep the KitchenSink project as clean as possible. Another helper file with 80 lines of code would confuse newcomers, and the project suppose to help to under

[2016-03-28 13:13] aloscha opened #24 "Using ninject with KitchenSink"
I think @warpech you could write to blog or some else, that SC support Ninject (unfortunatelly not in constructor) but in main it works - https://github.com/StarcounterSamples/KitchenSink/tree/Ninject_%2324

Also need to add waver.ignore file with Ninject.dll to use that.

[2016-03-29 09:51] warpech opened #25 "Add example of using modals"
Add example of using modals to KitchenSink.

This example should then be followed by other sample apps (but that's another issue in these apps).

[2016-03-29 16:05] warpech commented on #21
Yes, but the error does not crash the page. The first registered element wins. So I think that my proposal might actually work. This will solve the problem for all of the apps. WDYT?

No, because as said before, I would like KitchenSink to work in Starcounter stable by default. If @tomalec agrees then we can use bilocation of `puppet-redirect.html` to solve this problem. Or postpone discussion unt

[2016-03-29 16:07] warpech commented on #12
Closing this, as there is already a richer discussion in duplicate issue #21

[2016-03-29 16:07] #12 closed

[2016-03-29 16:14] miyconst commented on #21
KitchenSink already does not work with Starcounter stable. The file upload example requires `Polymer ~1.3.0`.

[2016-03-29 16:21] warpech commented on #23
I agree with @miyconst. KitchenSink will often be the first point of contact with an app.

I understand that it hurts your eyes to see duplicate `/partial/` handlers. But I'd rather have our apps to look too simple than too sophisticated.

If they look too simple, it is obvious for an experienced developer how to add abstraction. But if they look too advanced, it is totally non-obvious how to remo

[2016-03-29 16:33] warpech commented on #15
Looks very good now! Some comments before merging:

1. Please just remove the duplicate `<h1>` in `BreadcrumbPage.html`
2. Please apply Bootstrap classes to `<button>` throughout the project. Right now only `<button>` in `FileUploadPage.html` has Bootstrap classes.

After this please merge to `master`, unless @miyconst provides some comments.

[2016-03-29 16:34] warpech commented on #21
We should always assume our apps to work with Starcounter stable. Otherwise write it very clearly about it and explain why.

[2016-03-30 09:47] tomalec commented on #21
If it does not crash the page, I'm fine with bilocation + explicit warning message as interim step.

[2016-03-30 10:11] aloscha opened #26 "Markdown return error "Cannot read property 'replace' of undefined""
After run Kitchensink, please do steps:
1. Start Kitchensink with KitchenSink/Markdown
2. Go to Password tab, by clicking in menu

Now we have error with stacktrace:
`marked.js:138 Uncaught TypeError: Cannot read property 'replace' of undefined
Please report this to https://github.com/chjj/marked.Lexer.lex @ marked.js:138Lexer.lex @ marked.js:129marked @ marked.js:1218Polymer.parseText @ juicy-mar

[2016-03-30 10:23] aloscha commented on #15
Fixed @warpech

[2016-03-30 10:36] warpech commented on #15
Great! Selenium tests are passing, so please merge to `master`

[2016-03-30 11:04] #15 closed

[2016-03-30 11:18] warpech commented on #19
Some comments regarding `NavPage.html`:

Menu block:
1. `kitchensink-menu__headingFirst` is is a Modifier for `kitchensink-menu__heading`. Therefore it should be called `kitchensink-menu__heading--first`
2. `kitchensink-menu__unorderedList` has inappropriate camel-case fragment. We agreed on separating words with `-`. So this can be `kitchensink-menu__unordered-list` or simply `kitchensink-menu__l

[2016-03-30 11:28] warpech commented on #19
General comment: We should not mix `camelCase` in our CSS classes. As [BEM declares](https://en.bem.info/method/naming-convention/):

[2016-03-30 11:30] warpech commented on #19
`BreadcrumbPage.html`:

1. `kitchensink__paragraphHowTo` is wrong, because there is no Block called `kitchensink`. This is its own blog, so it should be named without `__`. In https://github.com/StarcounterSamples/KitchenSink/commit/ad5550d090600a7321abcd361860d82fd74b0a1c#commitcomment-16854048 I proposed a name for it: `kitchensink-introduction`
2. `kitchensink__breadcrumbSuggestions__listItem`

[2016-03-30 11:38] warpech commented on #19
`DropdownPage.html` and `FileUploadPage.html`:

1. `p class="lead" style="border-bottom: lightgray 1px solid;"` should be BEM-ified to use a BEM Modifier instead of an inline style

`FileUploadPage.html`:

1. `starcounter-upload-tasks` is not a correct BEM Block for the Kitchen Sink app. Rename to `kitchensink-upload-tasks`?

`NestedPartial.html`:

1. `kitchensink__nestedChild` is wrong, because t

[2016-03-30 14:02] warpech commented on #19
1. `kitchensink-breadcrumb-suggestions__list-item` is sooo long. Wouldn't `kitchensink-breadcrumb-suggestions__item` be enough?
2. `kitchensink__button` - this is a wrong BEM selector for two reasons:
- there is no BEM Block named `kitchensink`
- `button` is not good identifier. I think that `kitchensink-toggle-button` would be a better name
3. `style.css` should only create BEM selectors. Current

[2016-03-30 14:08] warpech commented on #19
4 . The class `kitchensink-introduction-dropdownpage` is wrong for two reasons:
 - It should be just a BEM Modifier for `kitchensink-introduction`. So `kitchensink-introduction--xxx` would be a good notation
 - `--dropdownpage` is too place-specific. You actually missed that it is also used on `FileUploadPage.html` as well. The BEM Modifier should be `--underlined`.

[2016-03-30 14:36] warpech opened #27 "Clean up the usage of headings"
Currently, KitchenSink pages use headings in a very inconsistent manner.

Every page should have a `h1` heading with a BEM Block class modifying its font size. Every consecutive heading should be `h2`, `h3`, etc...

Font-size modifications should be done in BEM. I propose the following scheme:

[code]

[2016-03-30 14:39] warpech commented on #19
Please remove class `kitchensink-juicyselect`, because it doesn't do anything useful.

[2016-03-30 14:57] warpech commented on #19
Please change `kitchensink-menu__unordered-list` to `kitchensink-menu__list` and then it's good to merge!

[2016-03-30 15:10] #19 closed

[2016-03-31 10:08] warpech commented on #21
Do you agree to release bilocation as puppet-redirect 0.4.1? I think there is no harm in that.

[2016-03-31 10:53] tomalec commented on #21
I do.

[2016-03-31 13:08] warpech commented on #21
Done

[2016-03-31 13:10] warpech commented on #21
The commit that fixes this issue (https://github.com/StarcounterSamples/KitchenSink/tree/Redirect_page_%2321) can be merged (**with the comment removed**) after Starcounter 2.2 is released.

Until then, there is no problem anymore starting from tomorrows nightly (Starcoutner 2.1.1572 and higher).

[2016-04-01 13:58] warpech commented on #18
I have written an article about using Selenium: http://starcounter.io/guides/web/acceptance-testing-with-selenium/

[2016-04-02 15:40] aloscha commented on #23
@warpech could you review branch #23

[2016-04-05 13:52] aloscha opened #28 "Refactor Selenium Tests"
- Handle edge browser (if current os isn't 10 then ignore)
- After get new repo from git, we have 3.2 nunit version (in tutorial 2.6.4)
- Naming of classes

[2016-04-05 14:13] aloscha commented on #28
@warpech I've add 3.2 nunit test as before. I check it and everything works well.
So maybe change it in Guides on Starcounter.io site?

[2016-04-05 14:15] aloscha opened #29 "Add PasswordPage and ChackBoxPage tests"
Add tests to solution based on selenium.

[2016-04-06 11:07] miyconst opened #30 "Create set cookie example"
There is no nice example of how to set cookies on server side.
This causes issues like: https://github.com/Starcounter/Starcounter/issues/3473

[2016-04-06 14:20] aloscha commented on #28
The "Handle edge browser" I based on that stack post http://stackoverflow.com/questions/33594401/how-can-i-detect-if-microsoft-edge-is-installed also find something like that http://stackoverflow.com/questions/32357874/finding-installed-browsers-microsoft-edge but there is need to looking into registry. What do you think @warpech

[2016-04-06 16:08] miyconst commented on #30
Created a cookie example.

Tested with latest stable `2.1.177` and latest nightly `2.1.1605`.

![image](https://cloud.githubusercontent.com/assets/6435556/14323845/87e0c4cc-fc22-11e5-86e5-aa71ba33389c.png)

[2016-04-06 16:08] #30 closed

[2016-04-06 22:50] warpech commented on #23
This looks good to me. @miyconst could you please review?

I know the code looks redundant, but maybe we can get back to it one day using middleware.

Good news is that now KitchenSink pages are finally layoutable in Launcher's layout editor.

[2016-04-06 23:08] warpech commented on #28
I see that `package.config` still refers to NUnit `2.6.4`. Did you push all changes?

I added one comment to the commit: https://github.com/StarcounterSamples/KitchenSink/commit/f751d99c2460905faea5605e083601f25f5b0e92

But most importantly, Windows 10 detection does not work well for me! For some strange reason, Visual Studio thinks I am on Windows 8. We can investigate tomorrow on my laptop if y

[2016-04-06 23:44] aloscha commented on #23
@warpech for me code looks really redundant. But my prev solution (which add one more layer with abstraction) was too complicated

[2016-04-06 23:50] aloscha commented on #28
Ok, let's do it tomorrow.

[2016-04-07 07:35] miyconst commented on #23
Also looks good to me.

@aloscha I agree, it's too redundant, and if it was a production app, I would add a helper method to remove the redundancy.

KitchenSink is a sample app composed with small parts. The newcomers won't copy entire KitchenSink, but only one or two examples.

Adding a helper method forces newcomers to learn something which has nothing to do with Starcounter itself, but rather b

[2016-04-07 09:51] warpech commented on #18
Initial Selenium tests are added.

Adding them to CI is tracked here https://github.com/Starcounter/CompanyTrack/issues/185
Adding more Selenium tests to this app will be tracked in separate issues.

[2016-04-07 09:51] #18 closed

[2016-04-07 13:53] #28 closed

[2016-04-07 13:54] #23 closed

[2016-04-07 14:36] warpech commented on #29
Reviewed.

1. Please prefix every test name with the page name. Otherwise we will have too many `PageLoads` tests.
2. Please change `CheckBoxPageTest` to `CheckboxPageTest`. There is no capital `B` in the checkbox page name.

Thanks!

[2016-04-07 15:39] warpech commented on #29
Could you also please give `TextPage_` prefix to text page tests?

Then it is good to merge.

[2016-04-07 20:37] aloscha commented on #29
Yeah, I forgot about that. Fixed

[2016-04-08 09:01] warpech commented on #29
Great! Please merge to master

[2016-04-08 09:22] #29 closed

[2016-04-08 10:27] warpech opened #31 "Add tests to TextareaPage"
Add tests to TextareaPage, based on the existing tests for TextPage as well as the information provided at http://starcounter.io/guides/web/acceptance-testing-with-selenium/

[2016-04-08 12:34] warpech opened #32 "CheckboxPage tests fail in Edge"
@aloscha please check when you have access to Edge

[2016-04-10 22:04] alemoi opened #33 "KitchenSink Selenium tests are failing on build servers"
Here are examples of builds:
https://teamcity.starcounter.org/viewLog.html?buildId=2478&tab=buildResultsDiv&buildTypeId=Starcounter_DevelopNightly

https://teamcity.starcounter.org/viewLog.html?buildId=2507&tab=buildResultsDiv&buildTypeId=Starcounter_PnextDailyWindows

[2016-04-13 14:04] #32 closed

[2016-04-15 09:56] ubbeK commented on #31
Tests passed on TeamCity personal run #2.1.1777

@warpech: ready for review/merge

[2016-04-15 14:01] warpech commented on #33
Sorry I missed it. Is it still relevant or was it fixed by increasing timeouts?

[2016-04-15 14:02] warpech opened #34 "Add autocomplete example"
Currently, autocomplete is presented in InvoiceDemo Part 3. It should be added to KitchenSink as well.

[2016-04-15 14:03] warpech opened #35 "Add example of using span as a button"
Add example of using span as a button. This was asked by Peter/Heads.

[2016-04-15 14:23] warpech commented on #31
Looks very well! But in other tests, for example https://github.com/StarcounterSamples/KitchenSink/blob/master/test/KitchenSink.Tests/Tests/PasswordPageTest.cs#L22-L30, `PageLoads` test checks if the menu click works correctly. Could you please add a similar check for `TextareaPageTest`?

[2016-04-15 14:56] warpech opened #36 "Switch button does not work in Firefox and Edge"
The switch button example at `/KitchenSink/Button` does not work in Firefox and Edge.

Code: https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/wwwroot/KitchenSink/ButtonPage.html#L17

[2016-04-15 15:11] warpech commented on #35
I tried this:

[code]

but it only works in Chrome.

@miyconst any ideas?

[2016-04-15 15:51] warpech commented on #36
Thanks @miyconst for you help!

[2016-04-15 15:51] #36 closed

[2016-04-15 16:33] warpech commented on #35
I did it with a helper function, as suggested by @miyconst:

[code]

[code]

Test included.

[2016-04-15 16:33] #35 closed

[2016-04-17 11:41] miyconst commented on #25
Example added:

![image](https://cloud.githubusercontent.com/assets/6435556/14586717/e3f38402-04a1-11e6-96cc-1f91e708335a.png)

![image](https://cloud.githubusercontent.com/assets/6435556/14586723/f350ea5c-04a1-11e6-9dfb-b9e87ed0af82.png)

`http://localhost:8080/KitchenSink/Dialog`

[2016-04-17 11:41] #25 closed

[2016-04-18 09:06] ubbeK commented on #31
Forgot to add reference in commit comment to Issue: [TextareaPage_PageLoads updates](https://github.com/StarcounterSamples/KitchenSink/commit/9b582ca209041952369f47cad0ed1c5125c51b4a)

[2016-04-18 09:25] warpech commented on #31
Looking good now! Please merge to master, close the issue and remove the branch.

[2016-04-18 11:55] ubbeK commented on #31
Merged to master and branch removed

[2016-04-18 11:55] #31 closed

[2016-04-18 12:03] warpech commented on #33
Closing, because there is no sign of this still being an issue. Most of the time the problem boils down to increasing the `MaxDurationSeconds` value in https://github.com/StarcounterSamples/KitchenSink/blob/master/kitchensink_selenium_test_conf.json

[2016-04-18 12:03] #33 closed

[2016-04-18 12:05] warpech commented on #22
So basically clicking "Cancel" should reset the state of this component instead of showing a message "Error uploading file".

[2016-04-27 09:52] warpech commented on #21
@aloscha, since 2.2 was released last week, we can now merge the fix to `master` and close this issue. Can you do this?

[2016-05-02 15:03] aloscha commented on #21
@warpech it's already works on master (tested in SC stable version), so I think we could close issue.

[2016-05-03 08:00] warpech commented on #3
This was because changes were not detected, as `jsonpatch` duplex listens on `keydown` event, which is blocked in Handsontable.

Handsontable issue: https://github.com/handsontable/handsontable/issues/3451

Workaround in KitchenSink: https://github.com/StarcounterSamples/KitchenSink/commit/4f11bc3872471260ea7d75d23bed56b338b78d82

Also, this workaround will not be needed when PuppetJs/jsonpatch st

[2016-05-03 08:00] #3 closed

[2016-05-03 09:41] warpech commented on #3
Proper fix is in KitchenSink starting from this commit: https://github.com/StarcounterSamples/KitchenSink/commit/a88499d75bb3dc57e6c7f47cf6d906d1d176c90e

[2016-05-03 12:07] #21 closed

[2016-05-04 09:47] warpech opened #37 "Change KitchenSink to use implicit standalone mode"
Remove `Partial.cs` file from the project. Switch to use middleware, as presented in:  https://github.com/Starcounter/Starcounter/issues/3451#issuecomment-199349823

[2016-05-04 09:48] warpech commented on #21
Sure, thanks!

[2016-05-05 09:38] aloscha opened #38 "After uploded image receive error 1006"
After successfully uploaded image in bottom box We see Socket Error Code: 1006
![image](https://cloud.githubusercontent.com/assets/5141943/15040520/d3cf7b4a-12b5-11e6-9b50-50a7bcbeefc4.png)

[2016-05-06 08:15] ubbeK commented on #22
[Branch merged to master](https://github.com/StarcounterSamples/KitchenSink/commit/e4903895f989ade52cd50654695afe2e4db3c964)

[2016-05-06 08:15] #22 closed

[2016-05-06 09:02] warpech commented on #37
This part in `Program.cs` is redundant (by `JsonAutoSessions`) and should be removed:

[code]

[2016-05-06 09:09] aloscha commented on #37
Fixed in rv

[2016-05-06 09:16] warpech commented on #37
Thanks. Looking good now.

This needs to be tested (with and without Launcher) after https://github.com/Starcounter/Starcounter/issues/3539 is fixed.

[2016-05-06 09:46] warpech commented on #26
@tomalec could you please take a look. After this is fixed, please add a Selenium test page for it.

[2016-05-06 09:47] warpech commented on #38
@ubbeK may I assign this to you? It seems related you your recent fix

[2016-05-06 13:51] ubbeK commented on #38
@warpech: I´ll take a look at it.

[2016-05-09 10:48] warpech commented on #37
@aloscha, please comment out the line `app.Use(new JsonAutoSessions());` and revert the commit https://github.com/StarcounterSamples/KitchenSink/commit/3989d0d373cea16095de045cc52697861b83acd0, because it doesn't work until https://github.com/Starcounter/Starcounter/issues/3575 is fixed.

After that, make sure that Selenium tests are passing and merge to `master`

[2016-05-10 14:38] warpech commented on #34
The Pull Request is here: https://github.com/StarcounterSamples/KitchenSink/pull/39

[2016-05-10 16:03] aloscha commented on #37
Merged into master.

[2016-05-10 16:03] #37 closed

[2016-05-11 01:35] alemoi commented on #38
I was asked to check this tonight and its the following: client upon finish of upload sends Close frame with status code 1000, the gateway responses with the same close frame, however what I see on the client is status code 1006, **regardless** of which status code the server sends. This is very strange. I verified with RFC and ws Close response seems correct. Could it be that client behaves wrong

[2016-05-11 08:00] warpech opened #40 "Add tests for RedirectPage.html"

[2016-05-11 10:46] aloscha commented on #38
It's really strange, It's worked on FF and Edge, but not on Chrome (for me)

[2016-05-11 14:26] joozek78 commented on #40
PR #42

[2016-05-12 09:00] miyconst opened #43 "Add example of "callback" behavior"
Yesterday I was asked by AdFenix guys to provide a code sample of how to show a message once a button was pressed and response came back from server.

The following examples should be implemented:

- Save button is disabled after click. Revert button state back after server response.
- Save button is disabled and loading icon shown once clicked. Revert button state back after server response.
- Sh

[2016-05-12 10:25] aloscha opened #44 "Selenium test, sometimes crashes"
Sometimes, when I run all tests, few of them get timeout 14s like `ButtonPageTest_DisabledButton`. But after that I run it alone and test pass.

I think it could be linked with too short timeout. (It happens on edge browser)

[2016-05-12 12:07] miyconst commented on #43
A new page has been added:

![image](https://cloud.githubusercontent.com/assets/6435556/15214016/dafc7b80-184a-11e6-823c-1786cc34ddee.png)

[2016-05-12 12:07] #43 closed

[2016-05-12 12:09] miyconst commented on #43
cc @aloscha, @warpech, @ubbeK

[2016-05-12 13:18] aloscha commented on #18
I wrote it here, because I don't know is it specially or not. I run Selenium test on KitchenSink + luncher and 95% tests fail. Is our test must be also working with luncher? (if yes, then we need to create separate issue to fix them all)?

cc @warpech @miyconst @joozek78

[2016-05-12 13:28] aloscha commented on #43
For me looks well.
If I good remeber, @warpech says that we need to create selenium test for new tabs and examples in KitchenSink

[2016-05-12 14:06] ubbeK commented on #43
It's a good demonstration.

[2016-05-12 14:11] warpech commented on #44
Does Selenium Server tell you what line of code in `ButtonPageTest_DisabledButton` produces the timeout?

[2016-05-12 14:23] aloscha commented on #44
This one `wait.Until(x => !label.Text.Equals(originalText));`

But when I start only that test, everythink looks good and test pass

[2016-05-12 15:00] warpech commented on #18
Why do the tests fail? I guess it is because the XPath selectors don't match.

To make the tests run both in Launcher and without it, we need to add discrete IDs to every tested HTML element.

Maybe we could use some short attributes like `data-testid="kitchensink-123"`. Then it is enough to use a CSS attribute selector `[data-testid=kitchensink-123]` in the test. I would like that.

[2016-05-12 15:09] warpech commented on #44
Sure, then just try to increase the timeout.

But I think there is no reason why timeout should be changed only in **this** particular test. The test should take no longer than the other 50 tests for this app. We need to either increase the timeout in all tests or find the reason why does it fail here.

[2016-05-12 15:15] aloscha commented on #18
@warpech I will create new issue with that.

[2016-05-13 00:02] alemoi commented on #38
I have found the issue, related to how the TCP connection is closed after WebSocket close handshake. I guess in Chrome more strictness was added recently. Going to test and push the test tomorrow.

[2016-05-13 09:16] aloscha opened #46 "KitchenSink + Luncher fails on Selenium tests"
I run Selenium test on KitchenSink + luncher and 95% tests fail. Is our test must be also working with luncher.

[2016-05-13 09:16] aloscha commented on #18
KitchenSink + Luncher fails on Selenium tests #46

[2016-05-13 09:18] joozek78 commented on #46
I'd use normal ids instead. They can (and should) be used in production code.

[2016-05-13 09:25] aloscha commented on #46
@joozek78 please remember that there could be many applications using id with the same name as yours, when we will use joining apps. So I think better one is to using `data-testid="kitchensink-123`

[2016-05-13 09:34] joozek78 commented on #46
Well, to avoid conflict we use id prefix "kitchensink-", but what I meant
is not to use 'data-testid' field, but just 'id'

On Fri, 13 May 2016 at 11:25 aloscha <notifications@github.com> wrote:

[2016-05-13 14:06] aloscha commented on #46
cc @warpech

[2016-05-14 21:28] alemoi commented on #38
The fix is pushed to develop/pnext, available in the following nightly. It was a tricky one to find :smiley: Thank you for reporting @aloscha

[2016-05-14 22:16] alemoi commented on #38
Please close the issue, once you check that its working for you as well :)

[2016-05-15 16:03] aloscha commented on #38
After @alemoi fix in starcounter vesrion 2.2.1.2147 (15 May 2016 16:23:32) everything works like a charm.

[2016-05-15 16:03] #38 closed

[2016-05-16 08:47] #40 closed

[2016-05-17 12:10] warpech opened #47 "Push marker position in the GeoPage to all sessions"
To make the GeoPage more interesting, push marker position in the GeoPage to all sessions.

[2016-05-17 12:13] warpech commented on #47
Pushed the initial version.

To do: change SharedPosition to a database class (then the below setters and getters can be removed)

[2016-05-18 11:07] warpech opened #48 "Bug on breadcrumbs page"
After my presentation on a conference, someone managed to bring down KitchenSink by playing with BreadcrumbsPage.

I don't know the reason yet, but this is the exception in log:

[code]

[2016-05-24 10:58] #34 closed

[2016-05-26 14:29] warpech opened #50 "Bug in AutocompletePageTest"
There is a potential bug on line https://github.com/StarcounterSamples/KitchenSink/blob/7b12ed2a1d681dd747ffdeb30ff224c65fbbb935/test/KitchenSink.Tests/Tests/AutocompletePageTest.cs#L50.

Which causes the test to sometimes fail. Are we sure that `Assure.IsEmpty` will always be empty after clicking?

[2016-05-26 14:29] warpech commented on #50
cc @joozek78, @alemoi

[2016-05-26 19:37] joozek78 commented on #50
Well, it definitely should be. It probably fails because of race condition (waiting for puppet is missing).

[2016-05-26 22:11] alemoi commented on #50
I agree with you guys. I experienced very occasional behaviour(success/failure) on the same machine.

[2016-05-27 07:29] warpech commented on #50
I guess that the error is between these lines:

[code]

After the test clicks on an element, there is a roundtrip to server to clear the list. So we should wait for the list to be cleared, because it can take few milliseconds.

[2016-05-30 12:35] joozek78 commented on #50
Closed by #49

[2016-05-30 12:35] #50 closed

[2016-06-02 19:59] warpech opened #51 "Chart page does not work"
Chart page does not work at the moment. See the screenshot:

![2016-06-02 21_48_18-greenshot](https://cloud.githubusercontent.com/assets/566463/15758990/3ea50f4e-290d-11e6-87dd-56c9aab292fc.png)

[2016-06-03 09:39] warpech opened #52 "AutocompletePageTest fails in Edge"
@aloscha noticed that sometimes one test in AutocompletePageTest fails in Edge. I have tried on my machine and actually two tests fail for me.

@joozek78 could you please take a look? Some notes:

This is not an excuse. Can't we just simulate blur by clicking on anything else? (`body` for instance)

I think that this error would not appear if you used `ClickUsingMouse` instead of `Click`.

---

Fu

[2016-06-03 10:36] aloscha commented on #52
Yeah, I have the same what mention @warpech, but also test with button fails for me:

      Test Name:	ButtonPageTest_DisabledButton
      Test FullName:	KitchenSink.Test.ButtonPageTest("edge").ButtonPageTest_DisabledButton
      Test Source:	C:\Users\aloscha\Documents\KitchenSink\test\KitchenSink.Tests\Tests\ButtonPageTest.cs : line 123
      Test Outcome:	Failed
      Test Duration:	0:00:14.839

[2016-06-03 11:25] aloscha opened #53 "MultiSelect return error in console"
Please run KitchenSink with Launcher (I don't test it without it) and then go to MultiSelect tab and click to some country ex. `Sweden`. In console occurs error:

      juicy-tile-list.html:104 juicy-tile-list can only render DOM element nodes. Provided input contains a text node which cannot be rendered. Wrap it in a <div> to fix the problem. Problematic text node:  ";
                  "  ( /Kit

[2016-06-03 11:27] warpech commented on #53
Related to https://github.com/StarcounterSamples/KitchenSink/issues/46

[2016-06-03 11:46] warpech commented on #46
is not to use 'data-testid' field, but just 'id'

Ok, it's fine for me

[2016-06-10 08:07] warpech opened #54 "Change the data source of the GeoPage to be a database class"
Judging from yesterday's experience on CodeNight, it does not make sense to use something that is NOT a database class as the primary data source for a page in the KitchenSink.

Therefore I think GeoPage needs to be changed. Maybe something else too.

[2016-06-27 08:49] warpech commented on #6
Asisgning @aloscha, who has a proposal how to use https://github.com/JeremySkinner/FluentValidation as a pattern

[2016-06-29 23:28] aloscha commented on #6
I've create simple demo inside kitchensink, because I need some validation inside other project. For validation engine I used FluentValidation and write some wrapper to use it with Starcounter.

So to validate some viewmodel we just call `Validate(Json)`.
For each property we could write rule with some validator like `NotEmpty`, `Length` etc. (whole list here https://github.com/JeremySkinner/Fluen

[2016-06-30 08:12] miyconst opened #55 "Could we keep the KitchenSink repository clean and tidy?"
I just have checked out the latest KitchenSink and the `Pattern_for_input_validation` branch and was sad to see that we don't follow our own [guidelines](https://starcounter.gitbooks.io/guidelines/content/).

We cannot ask for side developers to provide well formed pull requests if we do not follow that in our own commits.

Also we can't tell our customers that this is our guidelines and practices

[2016-06-30 08:13] miyconst commented on #6
@aloscha I like the `FluentValidation` and your example.

[2016-06-30 09:35] warpech commented on #55
I totally agree that we must follow our own Guidelines.

On the other hand, I think we cannot ask our customers to change their coding style. The feedback that I get from every C# developer is that they don't like our non-default coding style.

Maybe we should revote changing the Guidelines?

[2016-06-30 09:38] warpech commented on #55
After so many fights about this, I believe we should just adopt https://msdn.microsoft.com/en-us/library/ff926074.aspx. We win familiarity in the eyes of C# developers.

Anyone disagree?

[2016-06-30 09:38] aloscha commented on #55
@warpech I think evety C# developer says apout parenthesis position (new line or the same line)

[2016-06-30 09:38] warpech commented on #55
Btw. these are the most popular conventions according to GitHub: http://sideeffect.kr/popularconvention/#c#

[2016-06-30 09:44] ubbeK commented on #55
I always liked the brackets on new line, keep them on the same line feels like something Java-developers use.

[2016-06-30 09:49] joozek78 commented on #55
I think that whatever convention is good, as long as we adhere. Changing conventions can prove cumbersome (it will cause some confusion for our existing customers, do we change it gradually or make tons of changes across all repositories?)

[2016-06-30 09:51] miyconst commented on #55
Agree.

Nope :).

Me too. When I joined Starcounter, the "java-style" was the default coding format, and everyone in the team seemed to like it. I am a flexible person, and did not want to go against entire team, so I just adopted the style.

Now it looks like more and more people like the default Microsoft format, so do I.

Our customers do not have to follow our guides, same we should not ask th

[2016-06-30 09:54] warpech commented on #55
Just checked codebase of three of our customers and they all use Microsoft/default convention. @jwillmer is an exception, he seems to have switched to our convention very recently. I will reach out to him on Skype.

@miyconst are the Visual Studio defaults the same for C# as the Microsoft's convention?

[2016-06-30 09:57] miyconst commented on #55
Yes. To use our current style we have to make adjustments in the settings. @jwillmer is more like forced to switch.

[2016-06-30 10:08] warpech commented on #55
We are a platform vendor, not just a software house. So we must take into account that other people will judge our code by their standards.

I am not a well seasoned C# devleloper, but I consider myself a experienced JS dev. If I so C# formatting in JS, I would loose my senses :) So I can imagine this works the other way, too.

---

@miyconst I think we can call it decided then! Will you change th

[2016-06-30 10:16] joozek78 commented on #55
I just think that it's our convention and other people / companies don't
have to use it. IMO it doesn't make our code any harder to read or use,
it's just that our examples are a little bit weird to C# people. If you
guys think that it imposes itself on our customers, then I agree we should
consider changing it. I just don't think that it does (but I haven't worked
with them directly)

On Thu, 30

[2016-06-30 10:17] aloscha commented on #55
@warpech maybe we could use some style plugin for all people coding with SC like AStyle?

[2016-06-30 10:21] miyconst commented on #55
As soon as other members agree - I agree :).

For the code updating, I propose the following:

- The first person to make a change in a file or an app (if the app is small enough) has to apply new format.
- The code formatting should be done as a separated commit, and should not include any other changes except the code formatting.
- It's not allowed to use new format while keeping the rest of the

[2016-06-30 10:39] ubbeK commented on #55
I agree

[2016-07-03 19:11] miyconst commented on #55
The [guidelines](https://starcounter.gitbooks.io/guidelines/content/coding_style/csharp_code_formatting.html) have been updated.

[2016-07-03 19:48] dan31 commented on #55
Guys, in my opinion, the way how Microsoft provides defaults tend to make code not fit onto a single screen much more frequent than with our recently preferred style, which is very unfortunate. New lines put on every sneeze makes it too spread on the screen. Starcounter promotes supersimple development and declarative style, which I think doesn't live well at all with this "cold butter" style of p

[2016-07-04 08:56] miyconst commented on #55
@dan31 as what I can see from many part of our code is that we **do not** save the empty lines. This is what I mean:

[code]

This is not shorter than:

[code]

So, it does not go, it already went like this, especially in the `Starcounter.Level1` repository.

I can also add some feedback from newcomers, our customers and random guys which I asked to take a look at Starcounter.

- Why do you use Mi

[2016-07-04 13:17] aloscha commented on #6
Example of usage is in KitchenSink - ValidationPage

[2016-07-04 13:17] #6 closed

[2016-07-06 04:29] warpech commented on #47
@mnosek can you do this? @aloscha can help

[2016-07-06 04:41] warpech commented on #47
This was promoted to a separate issue: https://github.com/StarcounterSamples/KitchenSink/issues/54

[2016-07-06 04:41] warpech commented on #54
@mnosek can you do this? @aloscha can help

[2016-07-06 04:41] warpech commented on #47
Closing as done.

[2016-07-06 04:41] #47 closed

[2016-07-06 15:37] Mnosek commented on #54
I've created a pull request, please review it.

[2016-07-07 09:52] Mnosek commented on #48
Unfortunately I can't reproduce this bug by BreadcrumbsPage normal behaviour. The only way to call this error is to either edit root item (Products) or add a new root item. Both operations are unavailable at user level. Any idea?

[2016-07-07 11:25] joozek78 commented on #55
Did the change went through already? I saw that it's already updated in [Guidelines](https://starcounter.gitbooks.io/guidelines/content/coding_style/csharp_code_formatting.html), but at the same time I thought didn't agreed yet.

[2016-07-07 11:33] miyconst commented on #55
Yes, it has happened that I updated the Guidelines right before @dan31's comment.

It is easy to revert the update, but the final decision is up to @dan31 and @warpech.

[2016-07-08 18:33] tomalec commented on #26
Issue is fixed, only test is left.

[2016-07-14 13:10] warpech commented on #54
Pull request accepted and merged

[2016-07-14 13:10] #54 closed

[2016-07-20 12:17] joozek78 commented on #55
do the Guidelines pertain to Starcounter code? I mean the C# code in Starcounter repository? Does this update (coding style) concern Starcounter repository?

[2016-07-20 13:11] miyconst commented on #55
As much as I would want, I can't ask the Starcounter.Level1 guys to following the same guidelines we use for apps.

So, the guidelines apply to the Starcounter apps, and others may or may not follow it.

[2016-08-02 12:20] miyconst opened #58 "Remove old and unused branches"
We have some old branches in KitchenSink, which were not updated for almost half a year.

Authors of the branches, please review the state and remove if they are no longer needed.

cc @warpech, @aloscha, @alemoi

[2016-08-02 12:58] alemoi commented on #58
Thanks for reminding. Removed my branch `alexey`.

[2016-08-02 13:03] miyconst commented on #58
Thanks @alemoi.

[2016-08-08 08:29] miyconst opened #59 "KitchenSink Edge tests fail on buildserver"
On build server KitchenSink Edge tests fail with timeout exception.

The issue never happens:
- On local machines with manual test run.
- On build server with manual test run.
- On build server when connected and observing the build process.

It also does not always fail on build server, and not always at the same test.

I tried to find the reason, but ended up just disabling Edge tests. Need some

[2016-08-08 09:26] miyconst commented on #53
@aloscha please check whether this issue is still valid, I can't reproduce it.

[2016-08-09 14:13] warpech commented on #59
Did you investigate if that is not a selenium webdriver issue? Edge webdriver probably needs to be updated to the current version.

[2016-08-09 14:14] miyconst commented on #59
I have updated it to the latest available WebDriver. Without update it didn't work with Edge at all.

[2016-08-10 09:48] warpech commented on #59
Investigating. Might be worth upgrading to Selenium 3.0.0-beta2, though I am experiencing different issues with that.

[2016-08-10 10:34] aloscha commented on #53
I get latest version of Launcher and KitchenSink and nothing, I think issue could be closed

[2016-08-10 10:35] miyconst commented on #53
Then close it please :).

[2016-08-10 10:36] #53 closed

[2016-08-18 10:22] joozek78 opened #60 "AutocompletePage.html is not a valid HTML"
see https://github.com/StarcounterSamples/KitchenSink/commit/5ee9deacfa88efa44a548fcf274f0b96e4f6750a#commitcomment-18443784

[2016-08-18 12:49] Mnosek opened #61 "HTML bug on DropdownPage"
Closing tag is broken here:
https://github.com/StarcounterSamples/KitchenSink/blob/0ee14302c9e299aa680487d22aeb6f5eeb13f45f/src/KitchenSink/wwwroot/KitchenSink/DropdownPage.html#L38

[2016-09-26 13:26] warpech opened #63 "Update testing information in README.md"
Update testing information - test.bat starts KitchenSink automatically.

[2016-09-28 14:45] warpech commented on #58
I have removed the branches that I find redundant.

[2016-09-28 14:45] #58 closed

[2016-10-03 10:59] miyconst opened #66 "Add example of self disabling button while server processes click event"
This question has been asked so many times. We need to add an example of such button to this project.

https://github.com/Starcounter/Starcounter/issues/3858#issuecomment-251078202

[2016-10-03 11:00] miyconst commented on #66
@Joltrix please take this issue when you get tired/border by other projects.

[2016-10-05 15:44] Joltrix commented on #66
@miyconst Is this okay?

I added "an extra button" with a delay, just to kinda display (slower) what's happening. Because the server responds to fast sometimes, so it feels like nothing happened.

And is the "text" okay? Or do you want me to provide more information about how it works? (I tried to keep it as short as possible, to make it similar to the other "entrys"

[2016-10-05 15:58] miyconst commented on #66
Looks good to me, except the `float: left`styles. Can you style it with flex or make one button on a line?

[2016-10-05 15:59] Joltrix commented on #66
Okay, will try to fix it :)

[2016-10-05 16:39] Joltrix commented on #66
Fixed in [StarcounterSamples/KitchenSink/0ab4415](https://github.com/StarcounterSamples/KitchenSink/commit/0ab4415515a9f2bdb1c7c704592ebddc9ce05940)

[2016-10-05 19:52] miyconst commented on #66
Thanks @Joltrix, merged. Now you can remove the branch.

[2016-10-05 19:52] #66 closed

[2016-10-06 12:10] miyconst opened #67 "Create example of progress bar implementation with Scheduling.ScheduleTask"
@Joltrix ask me if you have any questions.

Low priority.

[2016-10-20 08:53] Joltrix commented on #67
@miyconst If you have any additional suggestions for the progress bar, feel free to tell me :D, Otherwise you can go ahead and merge the branch and close this issue :)

[2016-10-20 11:59] #67 closed

[2016-10-24 12:51] warpech opened #70 "Use implicit instead of explicit wait in tests"
In our tests, there are a lot of `waits` for async elements to load.

Selenium allows to set up [`ImplicitlyWait`](http://www.seleniumhq.org/docs/04_webdriver_advanced.jsp). It causes every `FindElement` instruction to synchronously stop for X seconds before executing.

- Benefit: this reduces the amount of test code, makes easier to write tests without errors
- Drawback: this extends the test exe

[2016-10-24 12:57] warpech commented on #70
Implemented in https://github.com/StarcounterSamples/KitchenSink/pull/71

[2016-10-26 08:54] warpech opened #72 "Add pagination"
Add a new page that shows pagination.

Pagination needs to be performed on the server side with database objects.

On the client side we can use Bootstrap.

Make sure that there are the following controls:
- dropdown to control number of elements per page
- previous page button
- next page button
- button to specific page numbers (but not all of them... if there are 100 pages, we don't want 100 bu

[2016-10-26 09:44] warpech commented on #72
SQL docs might come handy:

- http://starcounter.io/guides/sql/fetch/
- http://starcounter.io/guides/sql/offsetkey/

[2016-10-27 17:25] warpech commented on #70
Done one develop branch.

[2016-10-27 17:25] #70 closed

[2016-10-29 21:09] diliger commented on #61
Something strange is going here.

When I open the branch in VisualStudio I can't see the bug in code:
![image](https://cloud.githubusercontent.com/assets/15857369/19832732/bcfcd45c-9e34-11e6-8b9d-597c6861e255.png)

And directly on Github I can't edit the file with browser:
![image](https://cloud.githubusercontent.com/assets/15857369/19832747/ebce355a-9e34-11e6-8019-009901e65253.png)

Also I can't

[2016-10-29 21:17] diliger commented on #60
Fixed.

[2016-10-29 21:17] #60 closed

[2016-10-29 21:17] diliger commented on #61
Well, found it in master branch.

Fixed in master branch.

[2016-10-29 21:17] #61 closed

[2016-10-29 21:24] diliger commented on #51
Fixed.

[2016-10-29 21:24] #51 closed

[2016-10-31 10:13] Mackiovello commented on #72
The new pagination page can be found [here](https://github.com/StarcounterSamples/KitchenSink/tree/pagination).

This page works great in Chrome.

I'm having two main problems: first, the buttons refuse to work in Edge and Firefox. I've tried to find the error but have so far not been able to localize it. Could you take a look at the code and see what I've done wrong?

The other issue is that I'm

[2016-10-31 16:21] warpech commented on #72
You are on a good path! Some advice:

1) HTML rule that will save you a lot of trouble: Never use an `<a>` element as a button without href value. When you want to have a button, use `<button>` or just `<span>`.

We can learn from Bootstrap [source code](https://github.com/twbs/bootstrap/blob/v3.3.7/dist/css/bootstrap.css#L4711-L4774) that for Bootstrap it is actually preety OK to replace all `<a>

[2016-10-31 16:27] miyconst commented on #72
I don't think it was ever reported, and I would not hope to get a fix for it, since there are many much more serious issues they are not going to fix, and just switching to Polymer 2.0.

[2016-10-31 17:09] Mackiovello commented on #72
All the code is now corrected. I switched to buttons from using <code>a</code> tags. I noticed a weird thing. With <code>onclick</code> you need to click twice in Firefox for it to react the first time you use the button. In Chrome there's no issue like that. If I instead us <code>onmousedown</code> it works as intended. I don't know if this is a error you've seen before.

I'll add the selinium te

[2016-10-31 17:17] ubbeK opened #73 "Add smoke tests for opening up the starcounter-debug-aid"
Add new Selenium regression tests which opens up the `starcounter-debug-aid` in order to ensure that the UI is working properly. There has been som uncertainties that it is working properly, see [this issue](https://github.com/Starcounter/starcounter-debug-aid/issues/41) for example.

[2016-11-01 18:19] tomalec commented on #72
I would say that it should not work as native `<span>` does not have `value` property.

Anyway as @miyconst said, we should rather migrate to 2.x sooner, and check how it behaves there, I would not bet for any support of 1.x template binding.

[2016-11-07 14:05] joozek78 opened #75 "Flaky tests in KitchenSink"
Flaky test: TextPageTest("firefox").TextPage_TextPropagationOnUnfocus
Go to https://teamcity.starcounter.org/project.html?projectId=Starcounter_Apps_KitchenSink&testNameId=7318267521195939949&tab=testDetails
 and see that this test sometimes fails for no apparent reason. Check if you can find the reason for this (race condition?) and fix if possible. If you can't find the reason after investigatio

[2016-11-07 14:08] tomalec opened #76 "Chart does not render on polyfilled browsers"
### Steps to reproduce

1. Run KitchenSink
2. Open [/KitchenSink/Chart](http://localhost:8080/KitchenSink/Chart)

### Expected result
Chart should be shown

### Actual result
...it's not

### Technical information

Error is thrown to console:
[code]

##### Starcounter version 2.2.2.3627

##### Involved apps' version

 - StarcounterSamples/KitchenSink@4f6309355854cf298a1decba14c5ea298dae35b5 (curre

[2016-11-07 14:14] tomalec opened #77 "Type cannot be changed in breadcrumbs in polyfilled browsers"
### Steps to reproduce

1. Run KitchenSink
2. Open [/KitchenSink/Breadcrumb](http://localhost:8080/KitchenSink/Breadcrumb)
3. Click on "Diary" under "Breadcrumb with navigation"
4. Click on "Meat"

### Expected result
"Diary" should be changed to "Meat"

### Actual result
...it's not

### Technical information

No trace in the console

##### Starcounter version 2.2.2.3627

##### Involved apps' ver

[2016-11-10 15:32] miyconst opened #78 "Create example with lazy data loading"
There should be an example with lazy data loading showing the following:

- Table of some dummy data.
- Tooltip on row hover.
- The data inside the tooltip should be loaded in async way on hover.
- While the data is loading, a loading icon should be shown.

[2016-11-14 13:03] ubbeK commented on #73
@warpech @aloscha Help request from bi-weekly App meeting.

I am having problems with the `Interactions.Actions` class which builds a sequence of actions and performs it. I cannot get it to perform correctly, does anyone have any experiense with it?

See code [here](https://github.com/StarcounterSamples/KitchenSink/blob/debug-aid-test_issue-73/test/KitchenSink.Tests/Tests/StarcounterDebugAidTest.c

[2016-11-14 14:15] Mackiovello commented on #72
Pagination has been added to KitchenSink

[2016-11-14 14:15] #72 closed

[2016-11-14 23:20] aloscha commented on #73
For my first review:

1. Maybe instead of `Keys.Control` something which is come form Selenium `OpenQA.Selenium.Keys` (I don't know is for c# namespaces is the same)
2. After `KeyDown` should be `KeyUp` (also after sending keys)
3. If I remember well ( @warpech will know better), `SendKeys("§")` this is `section sign` and only occurs on mac in left keyboard corner.
![image](https://cloud.githubuse

[2016-11-14 23:29] ubbeK commented on #73
@aloscha Thanks for the input. I will try it out tomorrow.

On Swedish keyboard layout the `section sign` appears on the same place as your picture. It has been discussed [here](https://github.com/Starcounter/starcounter-debug-aid/issues/41). I will have to make some workaround using the input about what keyboard language is currently used if possible.

[2016-11-15 20:29] ubbeK commented on #73
Test now passes locally, will try to run them on TC.

Worth noting, The Build() and Perform() methods needs to be executed together on the same line in order do execute correctly (At least in Chrome).

[code]

[code]

[code]
@aloscha Thanks for the help!

[2016-11-18 13:58] Joltrix commented on #78
This Issue should be completed.

If a user hovers a row(person), the data starts to load. When the data is ready to be "retrieved", after the loading is finished, it only "applies" the data if that person is still being hovered.

This is possible to "abuse", by hovering row A (> starting the loading), and then dehovering (>visually cancel the loading), and then rehovering row A (if the loading has

[2016-11-19 17:21] Mackiovello commented on #78
As I've said before, it looks good.

Though, it's quite a big issue that the lazy loading is not properly cancelled when the mouse is moved out of the field. This gif highlights that:
![agif](https://cloud.githubusercontent.com/assets/19392292/20457105/572bce3e-ae84-11e6-8ddd-f0d06b484014.gif)

When that is fixed and you've replaced the placeholder text, then I would consider it to be a great addi

[2016-11-20 19:25] miyconst commented on #78
@Mackiovello please describe more. How it should be, and how it is. For me it just blinks too much.

Please also check the code, whether it is easy to read and learn from it.

[2016-11-20 22:34] Joltrix commented on #78
@mackiovello are you sure you are looking at the right branch? Cause what you showed in the gif should be fixed :O also, there shouldn't be any placeholder text. I'll take a look at it tomorrow morning though

[2016-11-21 08:35] Mackiovello commented on #78
It looks good to me.

One thing to improve is to either shorten the comments, put them on separate lines, or both. Right now you often have to scroll horizontally to read them which is kind of annoying.

[2016-11-21 08:47] Joltrix commented on #78
Changed the comments a bit, and made a pull request :)

[2016-11-21 09:09] miyconst commented on #78
@Mackiovello you should be more careful when reviewing the code ;)

- This [line of code](https://github.com/StarcounterSamples/KitchenSink/blob/feature/lazy-loading/src/KitchenSink/LazyLoadingPage.json.cs#L66) schedules 100 session tasks, while only single task does something. Session task is an expensive operation which locks entire sessions. It should be used only when necessary.
- This [line o

[2016-11-21 09:21] Joltrix commented on #78
@miyconst Ah, thats true! I'll fix em right away! :)

[2016-11-22 07:42] miyconst commented on #78
@Mackiovello it's your turn now ;)

[2016-11-22 13:25] miyconst commented on #78
Closing the issue as done.

[2016-11-22 13:25] #78 closed

[2016-11-23 14:41] joozek78 commented on #75
Another flaky test: ValidationPageTest("firefox").ValidationPage_ValidRequireInput

[2017-01-09 15:11] warpech opened #81 "Add sample usage of the Authorization library"
When https://github.com/Starcounter/authorization is ready, KitchenSink should feature some "Protected" page example that should how to use it.

Simple idea: a page that requires a signed in user. It will require to start SignIn app. If the user is not signed in, displays a web form.

Alternative: a page that requires the weekday to be Monday to Friday. On other days it will not authorize the user

[2017-01-09 15:59] joozek78 commented on #81
I think it should show that it can be beyond simply logged-in / anonymous
distinction. Second example is bad, because you need at least two days to
demo it :)
I think we can create one control that would require any user (requires
sign in to work) and another that would require the user to be a member of
certain group (requires people to work)

On Mon, 9 Jan 2017 at 16:11 Marcin Warpechowski <noti

[2017-01-09 16:08] warpech commented on #81
Good point. Or maybe a single control does does both:

A partial that requires any user OR signed in user, depending on the current configuration + a checkbox that configures it.

[2017-01-10 14:54] mmnosek commented on #81
sign in to work) and another that would require the user to be a member of
certain group (requires people to work)

Second sounds good (disabled control if not authorized to change) and doesn't require People to work. It's enough to create all objects (user, somebody group) on startup. Then we can use created objects to showcase authorization.

[2017-01-19 11:43] warpech opened #84 "Add a flash message example"
Add a server-side driven flash-message example, as implemented at the commit linked below.

[2017-01-19 12:12] miyconst commented on #84
I think @Joltrix can take this issue.

There should be two examples:

1. Hide alert message from server side.
2. Hide alert message from client side.

[2017-01-19 12:47] warpech commented on #84
Both examples are now implemented in the repo linked above, they just need to be extracted and (maybe) generalised.

[2017-01-23 13:38] warpech opened #85 "Increase test coverage"
We aim to increase test coverage in Kitchen Sink as close to 100% as possible.

@KmaTTi89 is working on this right now. The solution is tracked in #83

Question to @KmaTTi89 can you attempt testing the file upload page as one of your priorities this week?

[2017-01-23 18:55] KmaTTi89 commented on #85
@warpech Yes, I can.

[2017-02-03 10:42] KmaTTi89 opened #86 "Dropdown page - selects are empty on fresh database (have only two default values)"
### Steps to reproduce
1. Create fresh database for KitchenSink
2. Go to Dropdown page
3. Open second select, it has only two options
4. Open next select, it has only two options
5. Go to Autocomplete page
6. Go back to Dropdown page
7. You can see that second and third select have more options
### Expected result

Selects on dropdown page should have default options don't depends on Autocomplete

[2017-02-03 10:47] KmaTTi89 opened #87 "Button page - one of the self enabling/disabling button doesn't work correctly (the one with TAKE ONE REGENERATING CARROT text)"
### Steps to reproduce
1. Go to Button page
2. Click on Self enabling/disabling button named TAKE ONE REGENERATING CARROT

### Expected result
User should see Currently Regenerating text under the button after clicking
### Actual result
The text is not always displayed (try click on the button several times)

##### Starcounter version
2.3.0.5523

##### Involved apps' version
KitchenSink Dev

ALL

[2017-02-07 09:33] warpech commented on #86
Do you need this fixed before merging #83 to `develop`?

[2017-02-07 09:33] warpech commented on #87
Do you need this fixed before merging #83 to `develop`?

[2017-02-07 09:39] KmaTTi89 commented on #86
If you want green build for KitchenSink develop then yes :)

[2017-02-07 09:39] KmaTTi89 commented on #87
If you want green build for KitchenSink develop then yes :)

[2017-02-07 15:01] warpech commented on #86
@un-tone can you fix this? This is actually not only about AutocompletePage.

Right now, `BreadcrumbPage.json.cs`, `Dropdown.json.cs`, `AutocompletePage.json.cs` `PaginationPage.json.cs` create sample data only when you visit these pages.

This should be changed to create the sample data on the application start.

[2017-02-07 15:01] warpech commented on #87
@un-tone can you pls take this?

[2017-02-08 16:36] un-tone commented on #87
Created PR https://github.com/StarcounterSamples/KitchenSink/pull/88

[2017-02-08 18:27] un-tone commented on #86
Created PR https://github.com/StarcounterSamples/KitchenSink/pull/89

[2017-02-08 23:35] warpech opened #90 "Improve the look of pagination"
After #85 is done, copy the nice look of pagination from the People app (https://github.com/StarcounterSamples/People/issues/68)

[2017-02-09 17:29] un-tone commented on #86
Closing as done.

[2017-02-09 17:29] #86 closed

[2017-02-09 17:31] un-tone commented on #87
Closing as done.

[2017-02-09 17:31] #87 closed

[2017-02-13 22:05] Joltrix commented on #84
Implemented in this [PR](https://github.com/StarcounterSamples/KitchenSink/pull/91)

[2017-02-15 08:58] warpech opened #92 "Remove custom table definitions"
@un-tone, after the PR #89, KitchenSink defines its own classes for the custom data.

This has a side effect: after starting and stopping KitchenSink, other sample app (Products) is not usable.

Unfortunately, in Starcounter you need the class definition to be loaded in order for use it. For example, Products app sees the products created in KitchenSink, but if KitchenSink is not started, it will

[2017-02-15 15:12] un-tone commented on #92
Created PR https://github.com/StarcounterSamples/KitchenSink/pull/93

[2017-02-17 11:15] warpech commented on #92
Thanks, closing as done

[2017-02-17 11:15] #92 closed

[2017-02-20 13:14] tomalec opened #94 "None of the tools works"
### Steps to reproduce
[code]

### Expected result
App should run.

### Actual result
[code]

### Technical information

##### Starcounter version 2.3.0.5701

##### Involved apps' version
https://github.com/StarcounterSamples/KitchenSink/commit/7b0f93d29d85d9278e846da38c186142269a46a7

##### Browsers affected
n/a

### Screenshot

[2017-02-20 13:16] warpech commented on #94
Thanks for reporting. We will fix that in https://github.com/StarcounterSamples/KitchenSink/pull/83 and https://github.com/StarcounterPrefabs/Guidelines/issues/6

[2017-02-23 11:45] warpech opened #95 "Investigate "Parallelizable" tests"
In PR https://github.com/StarcounterSamples/KitchenSink/pull/62, @miyconst proposed to run tests in parallel.

The above PR had to be closed because of the incompatibilities, but the research that @miyconst has started there, should be continued.

@KmaTTi89 can you investigate if the new test project can use Nunit3 `[Parallelizable]`?

[2017-02-23 11:46] KmaTTi89 commented on #95
@warpech
Yes, I can

[2017-02-23 11:51] warpech commented on #94
Fixed on `develop`.

[2017-02-23 11:51] #94 closed

[2017-02-23 12:00] warpech commented on #85
Fixed in PR #83.

[2017-02-23 12:00] #85 closed

[2017-02-23 12:01] warpech commented on #75
Fixed with PR #83, thanks for reporting

[2017-02-23 12:01] #75 closed

[2017-02-23 12:03] warpech commented on #63
The above is not true, but still the testing information in `README.md` needs updating.

@KmaTTi89 please update https://github.com/StarcounterSamples/KitchenSink/blob/develop/README.md#run-the-test-from-command-line.

It seems that point 2 can be removed and points 3, 4, 5 should be changed to use the BAT files.

[2017-02-23 12:04] warpech commented on #59
Edge tests are still failing with Selenium 3.1.0, which is why Edge tests are disabled on TeamCity.

Next good time to try is after Windows 10 Creators Update (expected April 2017).

[2017-02-23 12:06] warpech commented on #52
Closing as no longer relevant after #83.

Tests are still failing in Edge, but that's another story (https://github.com/StarcounterSamples/KitchenSink/issues/59)

[2017-02-23 12:06] #52 closed

[2017-02-23 12:06] warpech commented on #44
Fixed in PR #83.

[2017-02-23 12:06] #44 closed

[2017-02-23 12:08] KmaTTi89 commented on #63
I will change that

[2017-02-23 12:18] KmaTTi89 commented on #63
Done in https://github.com/StarcounterSamples/KitchenSink/pull/96

[2017-02-23 12:20] Mackiovello opened #97 "Adapt view to Declarative Shadow DOM"
According to https://github.com/Starcounter/RebelsLounge/issues/59

Follow the guidelines in the following three posts to adapt the views to use Declarative Shadow DOM:

* [Layout compositions for HTML partials](https://starcounter.io/layout-compositions-html-partials/)
* [How to Apply New Shadow DOM Layouts to Existing HTML Templates](https://starcounter.io/making-apps-blendable/)
* [HTML View Gu

[2017-02-23 16:50] warpech commented on #63
Thanks, closing

[2017-02-23 16:50] #63 closed

[2017-02-23 18:14] warpech opened #98 "Master and develop branch builds are failing"
@KmaTTi89 any idea why `master` and `develop` branch builds are failing? `new_tests_project` branch was building OK.

<img width="906" alt="screen shot 2017-02-23 at 19 13 53" src="https://cloud.githubusercontent.com/assets/566463/23272633/55fe9aa0-f9fc-11e6-943e-174134ef3547.png">

[2017-02-24 08:18] KmaTTi89 commented on #98
@warpech
Teamcity is down again for me, I can't investigate this

[2017-02-24 12:55] warpech commented on #98
Yeah, TeamCity is now accessible only though the new VPN, which is accessible only from the office. We will need to give you a personal new VPN account to access from home.

[2017-02-24 14:11] KmaTTi89 commented on #98
So we have VPN that works only for office IP?
What is the purpose to have vpn that works only from particular network? :)
Nevermind...

[2017-02-24 14:12] warpech commented on #98
The purpose of the VPN is to work from any network, but you need an account to dial in. So far only the office has the VPN account to dial in.

[2017-02-28 13:48] KmaTTi89 commented on #95
@warpech
Done in https://github.com/StarcounterSamples/KitchenSink/pull/99

[2017-02-28 13:56] KmaTTi89 commented on #98
Done.
Problem was incorrect powershell version selected in TC to run script, I don't know who changed that.

[2017-02-28 13:56] #98 closed

[2017-02-28 20:50] warpech opened #100 "START command makes result open in a new window"
Scripts `run.bat` and `test.bat` use the START command. This makes them open `star.exe` and `nunit3-console.exe` in a new window.

Is that needed?

This is especially troublesome in `nunit3-console.exe`, because I cannot see the test result. The result is displayed in the window that is immediately closed afterwards.

[2017-02-28 20:52] warpech commented on #95
Thanks, but please do not close an issue until a PR was approved and merged.

[2017-03-01 07:11] KmaTTi89 commented on #100
@warpech
I can fix that.
You can see the result after tests run in TestResult.xml file too.

[2017-03-01 08:17] warpech commented on #100
Thanks, please fix that.

[2017-03-01 09:01] #95 closed

[2017-03-01 10:41] KmaTTi89 commented on #100
@warpech
Done in https://github.com/StarcounterSamples/KitchenSink/pull/101

[2017-03-03 10:44] ghost opened #102 "KitchenSink app exception on TC build agent"
On TC build agent first two or three kitchensink app open gets this error

![image](https://cloud.githubusercontent.com/assets/25149662/23548114/50a2d2dc-0006-11e7-8a37-84d4ca6c1ffc.png)

KitchenSink Dev witch v2.3-Nightly-Windows Starcounter

@chrhol Do you know why sometimes this problem occurs?
cc @warpech

[2017-03-03 11:13] warpech commented on #102
@KmaTTi89 can you also paste the stack trace as text, not only as a screenshot?

[2017-03-03 12:19] KmaTTi89 commented on #102
[code]

[2017-03-03 15:08] warpech commented on #102
@chrhol any idea where does this error come from? It shows up randomly just after starting of the app. 2-3 in 100 KitchenSink tests fail because of this randomly on the build agent.

[2017-03-03 15:29] chrhol commented on #102
I have no idea, I think maybe @alemoi  can answer this one better. Looks like something happens internally when a new Session is created.

[2017-03-03 21:47] alemoi commented on #102
@KmaTTi89 thanks for reporting! I am looking into it.

[2017-03-03 22:12] alemoi commented on #102
@KmaTTi89 Does it happen right after KitchenSink app start and opening `http://127.0.0.1:8080/kitchensink/mainpage` in the browser?

[2017-03-06 13:55] KmaTTi89 commented on #102
@alemoi
Yes, this happen when automated test try to open http://localhost:8080/KitchenSink/MainPage after app is started.

I don't know how to reproduce this in manual way because this is automated test.
It started to happen when I turn on parallel tests .
So a several browser with this adrress is opened at the same time, maybe this is the problem.

[2017-03-06 14:14] #100 closed

[2017-03-06 14:49] alemoi commented on #102
Thank you for the answer! How can I run the automated test? Do you have some instructions? Thanks!

[2017-03-06 19:41] KmaTTi89 commented on #102
You have to run kitchensink build (you can run dev) on TC and login to build agent. Just wait about 20 second and tests will start and you will able to see browsers with kitchensink app

[2017-03-06 20:12] #84 closed

[2017-03-09 12:24] KmaTTi89 commented on #102
@alemoi
Do you need more help with this?

[2017-03-09 15:31] warpech commented on #102
@alemoi pls help, because it hinders our continues integration for apps. Thanks!

[2017-03-09 16:34] alemoi commented on #102
I will start the investigation now.

[2017-03-09 16:57] alemoi commented on #102
Can you explain how exactly so I can tackle the problem faster?

Can I observe this error somewhere in the build log? Like this: https://teamcity.starcounter.org/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=20638#_focus=394

I just need a consistent way to verify if the problem is fixed.

[2017-03-09 21:04] warpech commented on #102
Yes. Locally 100% tests are passing. On the build server, from 1 to 3 tests are failing in each build.

Yes, this is how that error is logged in TeamCity, because Selenium is looking for some HTML elements on a page but all it can see is the text stack trace.

On the build agent, a screenshot is made in TC working directory at the moment when the error occurs. Also, the exception should be availab

[2017-03-09 21:08] alemoi commented on #102
Thanks for the clarification. Im working on it now.

[2017-03-09 21:29] warpech commented on #102
The problem might be related to the fact that https://github.com/StarcounterApps/KitchenSink/commit/63baa69b054b92e35179dad556673d983329c354 added parallel execution of Selenium tests. This means that after the app is started, Selenium triggers multiple browser windows simultaneously.

To verify, you can compare running builds from that commit and the previous one (https://github.com/StarcounterAp

[2017-03-10 12:40] alemoi commented on #102
Then its an awesome test, which we should definitely address.

[2017-03-10 13:31] alemoi commented on #102
I now changed to grab artifacts from my fixing branch and it seems to succeed with it: https://teamcity.starcounter.org/viewType.html?buildTypeId=Apps_KitchenSinkTestsDevelop&branch_Starcounter_Apps_KitchenSink=%3Cdefault%3E&tab=buildTypeStatusDiv

[2017-03-10 13:36] warpech commented on #102
Can you explain? I can't see anything successful there:

<img width="1406" alt="screen shot 2017-03-10 at 14 35 56" src="https://cloud.githubusercontent.com/assets/566463/23797195/e4eedbfa-059e-11e7-8139-dbca2b57a10e.png">

[2017-03-10 13:37] alemoi commented on #102
Click on History tab :)

[2017-03-10 13:39] warpech commented on #102
The History tab shows only *my* personal builds :( Can I change that?

[2017-03-10 13:40] warpech commented on #102
I can see it here: https://teamcity.starcounter.org/agentDetails.html?id=8&tab=agentHistory

[2017-03-10 13:40] alemoi commented on #102
Yes, in your settings:
![image](https://cloud.githubusercontent.com/assets/208134/23797313/8e587106-059f-11e7-83cc-299e1a4db14a.png)

[2017-03-10 13:41] warpech commented on #102
Thanks! So why does it work now, has you changed anything?

[2017-03-10 13:43] alemoi commented on #102
Yes, I made data structures to be lock free, even if they are running on different schedulers. Its part of the general problem with scheduling that we have.

[2017-03-10 14:04] warpech commented on #102
Wow, then I am happy that the tests helped to find a bug in the schedulers!

[2017-03-10 14:05] KmaTTi89 commented on #102
👍

[2017-03-10 19:45] alemoi commented on #102
Guys, I just pushed the fix. Hopefully it will work for all cases. Lets monitor this for a while and then close the issue, if sufficient.

[2017-03-11 13:16] alemoi commented on #102
When I now run against latest nightly, the problem occurs again, but never on personal build with other artifacts. Mystics!

[2017-03-11 17:47] alemoi commented on #102
@KmaTTi89 @warpech how can I see what is the error now? Can you please guys help out a bit? Thanks!

[2017-03-13 09:33] KmaTTi89 commented on #102
@alemoi
You can ask me for help on Slack :)

[2017-03-13 13:44] alemoi commented on #102
@KmaTTi89 @warpech do you use slack for communication in your team?
I'm just trying to understand what's the error now, after I pushed the fix. Interestingly, when I ran personal builds I got 100% success rate... that's why its very weird.

[2017-03-13 14:05] KmaTTi89 commented on #102
@alemoi You can ping me on hangouts: krystianmatti@gmail.com

[2017-03-14 10:15] warpech commented on #102
Yes, I have invited you if you want to give it a try. Basically it is awesome except it does not have screen-sharing.

Any progress on this? It is urgent, because we want to continue adding more apps to TC. Thanks!

[2017-03-14 10:18] KmaTTi89 commented on #102
I think problem with exceptions is gone. I added pull request with fix for starcounter 2.3

[2017-03-14 11:59] warpech opened #105 "Update KitchenSink to use the "Trigger$" pattern in JSON"
All pages that have button handlers should be changed to have the property names follow the  `XxxxTrigger$` pattern.

Discussion here: https://github.com/Starcounter/Guidelines/issues/12

[2017-03-14 13:15] alemoi commented on #102
@KmaTTi89 can you please briefly describe what were the latest problems with the build?

[2017-03-14 13:19] KmaTTi89 commented on #102
@alemoi New Starcounter version 2.3 added shadow root for two pages in Kitchensink. Tests weren't prepared for this. Fixed already.

[2017-03-14 13:23] alemoi commented on #102
Thanks! Closing the issue.

[2017-03-16 08:34] Mackiovello commented on #105
Fixed with https://github.com/StarcounterApps/KitchenSink/pull/108. Please close if satisfactory

Not sure about these buttons on the RedirectPage:

[code]

I wouldn't consider this a trigger as we've defined it since it's value is something that will actually be used, compared to `this.value++` which only acts as a trigger. Would you say that it should be `ChooseFoodTrigger` instead?

Also, is it

[2017-03-16 08:53] warpech commented on #105
I would not consider `RedirectPage` a trigger.

Regarding the tests, have you checked the instructions? https://github.com/StarcounterApps/KitchenSink#run-the-test-from-visual-studio

[2017-03-16 08:54] warpech commented on #105
I would not consider `ChooseFood$` a trigger.

[2017-03-16 09:11] Mackiovello commented on #105
Hehe... That's usually good advice 😄 All tests pass. Merging and closing the issue

[2017-03-16 09:11] #105 closed

[2017-03-16 16:07] warpech opened #109 "Use uniform batch scripts"
Use uniform batch scripts as presented in https://starcounter.gitbooks.io/guidelines/content/batch-files.html

Discussion: https://github.com/Starcounter/Guidelines/issues/6

[2017-03-17 09:32] KmaTTi89 commented on #109
@warpech Done in https://github.com/StarcounterApps/KitchenSink/pull/110

[2017-03-21 12:56] KmaTTi89 commented on #102
I need to reopen this issue because bug came back on master branch with starcounter 2.3 nightly

[code]

[2017-03-21 14:12] alemoi commented on #102
@KmaTTi89 thanks for reporting! Can you please point to the build in TeamCity? I would like to know which nightly version was it.

[2017-03-22 08:13] KmaTTi89 commented on #102
@alemoi Please take a look at the last 4 builds:
[#30](http://teamcity.starcounter.org/viewLog.html?buildId=21570&tab=buildResultsDiv&buildTypeId=Apps_KitchenSink_Master)
[#29](http://teamcity.starcounter.org/viewLog.html?buildId=21499&tab=buildResultsDiv&buildTypeId=Apps_KitchenSink_Master)
[#28](http://teamcity.starcounter.org/viewLog.html?buildId=21498&tab=buildResultsDiv&buildTypeId=Apps_Kitch

[2017-03-22 16:48] KmaTTi89 commented on #109
Done in https://github.com/StarcounterApps/KitchenSink/pull/112

[2017-03-22 16:48] #109 closed

[2017-03-29 11:13] warpech commented on #102
<img width="579" alt="screen shot 2017-03-29 at 13 12 42" src="https://cloud.githubusercontent.com/assets/566463/24451981/6e5fb210-1481-11e7-870a-7d08d95613c0.png">

@KmaTTi89 can you pls revert the commit until the `starpack` problem is fixed?

[2017-03-29 11:19] KmaTTi89 commented on #102
@warpech I don't need to revert the commit I will disable deploy step in develop configuration

[2017-04-03 13:16] alshakero opened #114 "Add paper-input example to the TextPage with tests"

[2017-04-06 09:08] warpech commented on #114
Context: https://github.com/RemoteCloud/SystemLocationApp/issues/10#issuecomment-291100627

[2017-04-06 20:39] warpech opened #116 "Test.bat tests only in Chrome"
`test.bat` is now configured to only run the tests in Chrome. Is this needed? I would prefer to test in the default set of browsers, as specified in test fixtures.

[2017-04-06 20:41] warpech commented on #116
Should also be fixed in Launcher, Website (https://github.com/StarcounterApps/Website/pull/71) and https://github.com/Starcounter/Guidelines/blob/master/batch-files.md

[2017-04-07 08:27] KmaTTi89 commented on #116
@warpech
If you prefer to test in the default set of browser there is `--params Browsers=Chrome` parameter that need to be deleted [here](https://github.com/StarcounterApps/KitchenSink/blob/master/test.bat#L18) then tests will be running on browser specified in code [here](https://github.com/StarcounterApps/KitchenSink/blob/master/test/KitchenSink.Tests/Test/BaseTest.cs#L32-L34)

[2017-04-07 10:14] warpech commented on #116
Yes, this is what I meant. Can you please make a PR?

[2017-04-07 10:46] KmaTTi89 commented on #116
Done

[2017-04-10 08:09] #116 closed

[2017-04-13 10:43] warpech commented on #102
Is this solved now?

[2017-04-13 10:44] warpech commented on #46
Closing as we are no longer testing KitchenSink with Launcher

[2017-04-13 10:44] #46 closed

[2017-04-18 15:54] warpech commented on #59
Windows 10 Creators Update is out. @KmaTTi89 can you pls upgrade and check how it works locally for you?

On my machine, the tests are still NOT OK with this update. Tested with KitchenSink current `develop` branch, EdgeHTML 15, Selenium 3.3.1, I get the following errors:

<details>
<summary>Expand</summary>
<pre>1) Error : KitchenSink.Tests.Test.SectionBoolean.CheckboxPageTest(Edge)
System.Invali

[2017-04-19 06:48] KmaTTi89 commented on #59
@warpech
I will check that

[2017-04-20 19:09] warpech commented on #102
Ping @KmaTTi89

[2017-04-21 07:54] KmaTTi89 commented on #102
@warpech
Make merge dev->master and i will check

[2017-04-21 08:39] warpech commented on #102
Merged

[2017-04-21 08:43] KmaTTi89 commented on #102
problem still occurs with sc release nightly

[2017-04-21 08:57] warpech commented on #102
I don't get it, what is the difference between the configurations that the test works in "KitchenSink Develop branch with Starcounter RC nightly" and fails in "KitchenSink Master branch with Starcounter Release nightly"?

[2017-04-21 08:59] KmaTTi89 commented on #102
Starcounter version?

[2017-04-21 09:16] warpech commented on #102
Ok, let's get back to this when 2.3 stable is released.

[2017-04-24 08:46] warpech commented on #114
@PatrykSzwer could you please take this as your first task?

[2017-04-24 12:14] warpech commented on #114
Details for this task:

In `TextPage.html` add two examples that usehttps://www.webcomponents.org/element/PolymerElements/paper-input and add a tests that verifies its correctness.

The examples should show:

1. paper-input sending value to the server after each keystroke
2. paper-input sending value to the server after blur

Hint: `paper-input` does not trigger standard DOM events like `input` no

[2017-04-24 12:16] warpech commented on #48
Closing as not reproducible.

[2017-04-24 12:16] #48 closed

[2017-04-24 12:17] warpech commented on #90
@PatrykSzwer could you please take this?

[2017-04-24 12:22] warpech commented on #26
@KmaTTi89 could you please add a test for the Markdown page?

[2017-04-24 12:23] warpech commented on #77
@PatrykSzwer could you pls check if this is still reproducible?

[2017-04-24 12:30] warpech commented on #97
@PatrykSzwer could you pls take this?

You will find reference implementation in other sample apps by going to https://github.com/Starcounter/RebelsLounge/issues/59 and scrolling down. There is a list of sibling issues that are already solved in other apps. Each issue has a link to a PR.

[2017-04-24 12:30] KmaTTi89 commented on #26
I can try

[2017-04-26 12:35] PatrykSzwer commented on #77
Hey,

I checked that issue on current HEAD of develop: https://github.com/StarcounterApps/KitchenSink/commit/3a9efaafd46666f374ba088f769677ed806a86bf

and I think it's not reproducible anymore. Navigation works as It's expected to.
![image](https://cloud.githubusercontent.com/assets/25042256/25434628/4cf01bc0-2a8d-11e7-9308-7394e9f3f9cd.png)

**after click:**

![image](https://cloud.githubusercont

[2017-04-26 12:59] PatrykSzwer commented on #77
I've checked this on latest Firefox (v. 53.0) and it's still reproducible.

[2017-04-26 15:41] warpech commented on #26
Closing as done

[2017-04-26 15:41] #26 closed

[2017-04-27 08:30] PatrykSzwer commented on #90
I'm on it.

[2017-04-27 09:04] PatrykSzwer commented on #90
Created PR #123

[2017-04-27 12:38] PatrykSzwer commented on #77
Fix on PR #124

[2017-04-28 09:55] PatrykSzwer commented on #97
Sure, I'm on it.

[2017-04-28 10:26] PatrykSzwer commented on #97
I've made first changes on AutocompletePage (https://github.com/StarcounterApps/KitchenSink/commit/42d25fe8910c5568440f015944e8a1b861ce1eec). Please if You can, make sure it those changes are okey and meanwhile I'll adapt rest of the views.

[2017-04-28 11:39] warpech commented on #97
@PatrykSzwer can you pls make the PR for the purpose of reviewing. Just write in it that it is not mergable yet.

@Mackiovello could you pls review the PR?

[2017-04-28 12:32] PatrykSzwer commented on #114
So officially, for the first time: fixed and closing!

[2017-04-28 12:32] #114 closed

[2017-04-28 12:41] alshakero commented on #114
@PatrykSzwer awesome work! Glad to have you on board 🎉

[2017-05-04 09:19] warpech commented on #76
@PatrykSzwer could you pls take a look at this?

[2017-05-04 09:35] PatrykSzwer opened #126 "Obsolete description in dropdown page."
I think entire case on that page with polymer value binding and using juicy-select as workaround is obsolete, because issue that is described never occur. This part was written year ago, and probably value binding in polymer was fixed since then. If someone knew for sure if It's obsolete, please confirm.

### Screenshot
![image](https://cloud.githubusercontent.com/assets/25042256/25698055/a99d85d4

[2017-05-04 09:58] warpech commented on #126
@miyconst, @tomalec do you remember if that description is still valid?

Blame shows that was written by @aloscha and probably was true at the time.

[2017-05-04 11:23] PatrykSzwer commented on #97
I've done +- half of files. @warpech , @Mackiovello , could You review current changes and look if everything is ok for now?

[2017-05-04 12:08] Mackiovello commented on #97
I just have a question first, it seems like you are not using `declarative-shadow-dom` when there is no layout except for the ordering of the elements. Is this a best practice?

[2017-05-04 13:16] PatrykSzwer commented on #77
Fixed on PR #124, closing.

[2017-05-04 13:16] #77 closed

[2017-05-04 13:24] PatrykSzwer commented on #97
You're right. It's not. I'll add that even if unnecessary in case of future changes.

[2017-05-04 14:46] PatrykSzwer commented on #90
Fixed in #123, closing.

[2017-05-04 14:46] #90 closed

[2017-05-04 15:02] PatrykSzwer commented on #76
It's still reproducing. Trying to fix this now without results yet.

[2017-05-04 15:08] warpech commented on #76
Maybe upgrading to the current version helps?

[2017-05-04 18:41] tomalec commented on #126
I don't :| but it would probably require another check after Polymer 2.0 migration

[2017-05-05 06:27] Mackiovello commented on #97
I think we misunderstood each other here. In order to make it possible to easily modify the layout in the future, I believe that the elements should be added to the `declarative-shadow-dom` as well, even if there's no specific layout right now.

[2017-05-05 07:27] tomalec commented on #97
First of all, I'd keep it consistent with regular element shadow DOM: If there is shadow root, add slot elements, otherwise nothing is distributed (we will prevent that for merged views in starcounter-include, by adding default slot); if there is not shadow root, there is no need for slots.

The the question "Should we always attach Shaow DOM, even if it's no-op?", the answer is related to our app

[2017-05-05 12:04] warpech commented on #97
I was saying the opposite in the beginning but I see @tomalec has strong opinion here and a good point. Just like in programming languages, you don't have to declare things you are not using.

However, our definitive documentation on blending (https://docs.starcounter.io/guides/web-apps/html-view-guidelines/) does not cover conditions when to apply it. It only gives simple guidelines:

1. should y

[2017-05-05 12:16] tomalec commented on #97
I think it's deffinitely forth mentioning. We could add a metaphor to regular CSS.
You should keep styling in CSS files or blocks to separate the concerns, but if you don't have/use styles at all, you simple do not attach empty file nor empty `<style>`.

[2017-05-05 12:26] warpech commented on #97
@Mackiovello can you pls add that?

[2017-05-05 12:53] warpech commented on #126
The original reason for creating `juicy-select` is well explained by @miyconst in https://github.com/juicy/juicy-select:

1. The point about IE11 is no longer relevant to us, because we don't support that browser.
2. The point about the initial value seems to be still valid. This is what I see:

![2017-05-05 14_52_40-kitchensink](https://cloud.githubusercontent.com/assets/566463/25746179/8b3a05d2-

[2017-05-05 12:54] warpech commented on #126
I think that the text on this page should be rewritten to explain better what is meant here. @PatrykSzwer could you propose that in a PR, based on the info above?

[2017-05-05 13:03] PatrykSzwer commented on #126
Actually, that initial value is hard-coded. Into DropdownPage.html I found:
`<select slot="kitchensink/dropdown-objects-select" class="kitchensink-select kitchensink-test-product-select" value="{{model.SelectedProductKey$::change}}">
            <option></option>
            <template is="dom-repeat" items="{{model.Products}}">
                <option value="{{item.Key}}">{{item.Name}}</option>

[2017-05-05 13:12] warpech commented on #126
If you remove the first empty option then still it looks wrong:

![2017-05-05 14_52_40-kitchensink](https://cloud.githubusercontent.com/assets/566463/25746758/2771cadc-31a5-11e7-8851-a356fae1bad0.png)

If it worked ok, you would see "Starcounter Database" rendered in both dropdowns, because the initial value of `SelectedProductKey$` is `CL`.

[2017-05-05 13:13] warpech commented on #126
If you remove the first empty option then still it looks wrong:

![2017-05-05 15_11_34-kitchensink](https://cloud.githubusercontent.com/assets/566463/25746804/55eb270a-31a5-11e7-9d3f-ce18d22489f7.png)

If it worked ok, you would see "Starcounter Database" rendered in both dropdowns, because the initial value of `SelectedProductKey$` is `CL`.

[2017-05-05 13:13] warpech commented on #126
If you remove the first empty option then it still looks wrong:

![2017-05-05 15_11_34-kitchensink](https://cloud.githubusercontent.com/assets/566463/25746804/55eb270a-31a5-11e7-9d3f-ce18d22489f7.png)

If it worked ok, you would see "Starcounter Database" rendered in both dropdowns, because the initial value of `SelectedProductKey$` is the key of "Starcounter Database"

[2017-05-05 15:19] Mackiovello commented on #97
Fixed in 	https://github.com/Starcounter/Docs/commit/76b7129c23e0a009dc80d64cd7a01c62d5c68052

[2017-05-06 06:34] PatrykSzwer commented on #126
Yes, You're right. That <option></option> think could be a (intensional or not) workaround for that. I'll check this and see If I can fix this to work without that empty space and with proper initial options.

[2017-05-08 09:28] PatrykSzwer commented on #97
Adaptation is complete (PR #125). Closing.

[2017-05-08 09:28] #97 closed

[2017-05-08 13:48] PatrykSzwer commented on #76
I've made PR (#127) with fix on that. I've rebuild entire way that chart on chartPage works, by creating custom element.

[2017-05-12 08:21] PatrykSzwer commented on #126
As a reference to conversation with @warpech about this issue, I've changed description above select element to one from juicy-select readme. It will help prevent miss understandings like one that base description was giving.

[2017-05-15 09:01] PatrykSzwer commented on #76
Fixed in #127. Closing.

[2017-05-15 09:01] #76 closed

[2017-05-17 14:54] warpech opened #131 "Show how to change the page title dynamically"
Moved from https://github.com/Polyjuice/Polyjuice/issues/66

-----

Right now all of the apps running inside Launcher has same page title _Launcher_.

Each app should be able and should set its own title to enhance user experience and usage tracking in Google Analytics.

cc @warpech, @tomalec

[2017-05-17 14:55] warpech commented on #131
I believe that the right solution is to make a custom element that binds to a `Title` property of the view-model. That custom element should dynamically update `window.title`.

[2017-05-17 17:14] tomalec commented on #131
I also like the idea of CE doing that, but..
How would you solve the problem of competing elements/partials?
Or should it be just a single top most property in entire view-model (JSON) tree?

[2017-05-17 19:58] warpech commented on #131
I think that it might be that the last element wins. I wonder how does that work width Shadow DOM slots that revert the order of `<window-title>`.

Future possibility that might turn out to be more practical - have a single window title setting app that uses `<window-title>`. Other apps communicate with it through db.

[2017-05-18 11:16] warpech opened #132 "Add a button with an icon inside of it"
To show the explicit solution for the problem https://github.com/Starcounter/level1/issues/3511 add a new subsection in `ButtonPage.html` that explains the problem and shows a solution with the explicit usage of `pointer-events: none`, preferably added as a CSS BEM class.

Add a test for it (clicking on an element inside the button should trigger the click event on the button).

Fixing this will c

[2017-05-18 13:31] PatrykSzwer commented on #126
Changes were made. Closing.

[2017-05-18 13:31] #126 closed

[2017-05-31 10:38] warpech opened #135 "Add a page that mixes the view-model and the local state"
Some users need to keep local state of objects, for example:

- have an array of items
- present each item in a `dom-repeat`
- for each item have a local property that represents the mouse hover.
  - That local property should be available to Polymer but not part of the view-model that is synced with the server

@alshakero could you pls prepare a page for that in KitchenSink?

[2017-06-01 11:45] PatrykSzwer commented on #27
Changes merged in #130. Closing.

[2017-06-01 11:45] #27 closed

[2017-06-07 10:03] warpech opened #137 "Ungroup the test subfolders"
In the tests folder https://github.com/StarcounterApps/KitchenSink/tree/1b8b41aea334bc491f6c1afbf62ce70b38c63421/test/KitchenSink.Tests/Test, there are subfolders that correspond to the NavPage menu groups that are no longer in place.

I suggest to flatten the tests folders, just alike the viewmodels folder has a flat file structure too.

[2017-06-07 11:42] alshakero opened #138 "Fix Selenium instructions link in contributing.md and link it in README"
Correct instructions link: https://docs.starcounter.io/guides/web-apps/acceptance-testing-with-selenium/

[2017-06-08 09:42] alshakero commented on #138
Fixed by https://github.com/StarcounterApps/KitchenSink/pull/139

[2017-06-08 16:16] warpech opened #140 "Apply the new pattern to create MasterPage"
A new pattern to create MasterPage was discussed in https://github.com/Starcounter/Guidelines/issues/23 and implemented for reference in https://github.com/StarcounterApps/Website/pull/106.

Please apply the same pattern in KitchenSink app, namely:

- replace `Handle.GET("/KitchenSink/master"` handler with a `GetSessionFromMaster` method

[2017-06-09 15:33] warpech commented on #140
Suggested reviewer: @PatrykSzwer

[2017-06-12 09:31] alshakero commented on #135
I think this is closable with https://github.com/StarcounterApps/KitchenSink/pull/136 now.

[2017-06-16 09:46] PatrykSzwer commented on #137
I actually have an opposite idea. Wouldn't be more clear if all viewmodels, views and tests were in subfolders that correspond with new navigation that was implemented here https://github.com/StarcounterApps/KitchenSink/pull/130? That could make moving trough the solution more intuitive and solution itself would be much cleaner. @warpech what do You think?

[2017-06-20 09:38] warpech opened #143 "Apply agreed project structure"
Right now, KitchenSink does not conform to the project structure agreed in https://github.com/Starcounter/Guidelines/blob/master/project_structure.md.

Please adapt the project structure to it.

[2017-06-20 19:20] warpech commented on #137
I would like to keep all examples in the same folder, because the navigation may change again in future.

After #137 we should apply the correct project structure though: #143

[2017-06-20 19:21] warpech commented on #135
Closing. Thanks @alshakero!

[2017-06-20 19:21] #135 closed

[2017-06-20 19:24] warpech commented on #138
Thanks for reporting, but this needs more work. #139 did not fix the URL, it is still the old one. Also, that PR added a typo: `Contrinbuting` in `README.md`

[2017-06-20 19:27] warpech commented on #138
Sorry, just noticed that you fixed that later in https://github.com/StarcounterApps/KitchenSink/commit/044cd07455d850724316a659e1bc0f40b425973c#diff-6a3371457528722a734f3c51d9238c13.

[2017-06-20 19:27] #138 closed

[2017-06-21 08:22] alshakero commented on #138
@warpech it's just a preference issue. I skimmed the readme expecting CONTRIBUTING as I am used to [jsonpatch](https://github.com/Starcounter-Jack/JSON-Patch#contributing) and [JSONPatcherProxy](https://github.com/Palindrom/JSONPatcherProxy#contributing) and thought it wasn't there because it had a different style. So I thought adding both options would make life easier.

Would you like me to remo

[2017-06-21 09:06] alshakero opened #144 "Navigating should scroll to top"
I'm not sure if this should be in `PalindromDOM` instead. But to me, the current setting is very unintuitive.

Traditionally, when we navigate we expect a full page load and a fresh start from Y=0.

To observe this issue, please scroll to the very bottom in KitchenSink and click a nav link. It will seem like nothing had happened.

[2017-06-23 13:12] warpech commented on #138
I don't know, I'd just prefer to have it everywhere in the same way. @Mackiovello any opinion on this?

[2017-06-23 13:22] warpech commented on #144
This actually is bugging me since long time. The effect of morphing a page is not visible, when it happens outside the viewport.

That said, I don't think `PalindromDOM` should do anything special.

Maybe we can fix this with pure HTML right in KitchenSink? This entails to change links from `<a href="/KitchenSink/Breadcrumb">Breadcrumb</a>` to `<a href="/KitchenSink/Breadcrumb#top">Breadcrumb</a>`

[2017-06-25 16:47] mmnosek commented on #144
Traditionally I agree, but we need to remember that Starcounter-based apps are not "traditional" so we should not force this behavior. It should be up to the developer. For me `#top`/`on-click` handler looks fine for this purpose.

[2017-06-26 08:58] warpech commented on #132
Done in #134

[2017-06-26 08:58] #132 closed

[2017-06-26 09:11] #140 closed

[2017-06-26 09:53] Mackiovello commented on #55
Archiving

[2017-06-26 09:53] #55 closed

[2017-06-26 09:57] Mackiovello commented on #14
This is fixed with https://github.com/StarcounterApps/KitchenSink/pull/134

[2017-06-26 09:57] #14 closed

[2017-06-26 15:38] alshakero commented on #144
@mmnosek I'd suggest an opt-out mechanism for those who want to stay at the same Y after navigation. Something like `<a href='#' preserve-y>in-page-link</a>`.

I guess `<a />` links are very rarely used to change something on the same page without navigating. Buttons are usually used to change page contents in place. At least most the time.

[2017-06-26 16:03] warpech commented on #131
Actually we have an app for that `DisplayAppTitle`. I need to make it public.

[2017-06-26 21:18] warpech commented on #144
Interesting perspective, @alshakero.

I was thinking the same, but actually you have to admit that our Palindrom is hijacking these "traditional" links and forcing the behavior of page-morph. @alshakero is right that scrolling to top is the "traditional" thing to do, actually.

----

This seems to be what [Turbolinks](https://github.com/turbolinks/turbolinks) is doing, and that library is also hij

[2017-06-26 22:23] tomalec opened #146 "Add a note that VS 2017 is required"
### Steps to reproduce
1. Clone develop,
2. Open solution in VS2015
3. Try to build

### Expected result
It should build.

### Actual result
It does not build

### Technical information
Visual Studio: Community 2015, 14.0.25431.01 Update 3
.NET: 4.7.02046

##### Starcounter version 2.3.1.6664

##### Involved apps' version

@a35a6f01ad81944efb0c94a5399928c2ce30ee34

##### Browsers affected
n/a
###

[2017-06-27 07:35] mmnosek commented on #144
I agree :)

This is true. Most of the time traditional approach is what the developer expect, so if we leave an easy way to achieve "not-traditional" results, I'm perfectly fine with it!

[2017-06-28 05:32] Mackiovello commented on #146
Since we just require VS 2017 for some of our sample apps, I don't think we should create a blanket requirement.

Added a note for this repo in 	407d2bd. Closing as done

[2017-06-28 10:06] warpech commented on #144
Ok, but then actually the implementation is to be done in `PalindromDOM`. @alshakero can this be added to Palindrom 3.0.0? Can you make an issue there?

I guess it is fine if we don't fix it ad hoc in KitchenSink.

[2017-06-28 10:13] alshakero commented on #144
I'll reference the issue in the re-organization issue. We have 2-3 decision to make before knowing where to have this.

[2017-06-28 12:07] warpech opened #147 "Change fields to properties in all database classes"
As requested in https://github.com/Starcounter/TechComm/issues/340, change fields to properties in all `[Database]` classes in this repo.

Scheduled after https://github.com/StarcounterApps/Simplified/issues/53

[2017-06-28 15:13] tomalec commented on #144
I totally vote for

[2017-06-29 14:03] warpech opened #148 "Tests are failing"
`develop` branch tests are failing on TeamCity. I will investigate.

[2017-06-29 14:31] warpech commented on #148
Turned out that the build server was low on disk space, running an old version of Selenium, Selenium drivers and Firefox.

I've updated all that, seems to work now

[2017-06-29 14:31] #148 closed

[2017-07-03 07:55] warpech commented on #146
Two things related to https://github.com/StarcounterApps/KitchenSink/commit/407d2bdd615f74256416bff44e7941d27cd1a88b:

1. Don't you think it should be better added in `CONTRIBUTING.md`, where all the developer instructions are?
2. Some apps ("Products" at least) used to have similar information in CONTRIBUTING.md, but that was removed few months ago: https://github.com/StarcounterApps/Products/com

[2017-07-03 09:49] Mihaiii commented on #147
Close as done.

[2017-07-03 09:49] #147 closed

[2017-07-03 12:06] bouguila commented on #137
closing as done.

[2017-07-03 12:06] #137 closed

[2017-07-04 06:34] Mackiovello opened #152 "Remove Bind syntax in json-by-example"
As I understand it, this syntax is not a best practice anymore:

[IntegerPage](https://github.com/StarcounterApps/KitchenSink/blob/fad83975ec3b4ebf6201458ea228547e6756d507/src/KitchenSink/IntegerPage.json)
[code]

We use it in a [couple of places](https://github.com/StarcounterApps/KitchenSink/search?utf8=%E2%9C%93&q=%22Bind%22%3A&type=). Instead, bindings like these should be made in the [code-be

[2017-07-05 06:59] Mackiovello commented on #146
In [other apps](https://github.com/starcounterapps/people) the requirements are in the README. The difference is that those are just for running the application while these instructions are for building. I'm considering moving everything to the README, including the instructions for building and running. The separation between the README and CONTRIBUTING feels borderline arbitrary.

That might hav

[2017-07-10 10:12] warpech opened #153 "Replace paper-menu"
KitchenSink uses `paper-menu`, which is deprecated in favor of `paper-listbox`. See: https://github.com/PolymerElements/paper-menu#paper-menu

Replace `paper-menu` with `paper-listbox` in KitchenSink.

@Mihaiii can you pls do this?

[2017-07-10 14:30] Mihaiii commented on #153
Closing as done.

[2017-07-10 14:30] #153 closed

[2017-07-12 14:09] warpech commented on #152
@Mihaiii could you please take this?

[2017-07-12 14:11] warpech commented on #144
@alshakero can you please make an issue for this in Palindrom repo (to be fixed in PalindromDOM)? Then this issue can be closed as tracked elsewhere.

[2017-07-12 15:12] alshakero commented on #144
Done

[2017-07-12 15:14] alshakero commented on #144
Closing as tracked in https://github.com/Palindrom/Palindrom/issues/140

[2017-07-12 15:14] #144 closed

[2017-07-13 11:30] warpech commented on #146
That notes were added where many devs were till on VS 2013, where C# 6 was unavailable. Back then VS 2013 was officially supported target IDE by Starcounter. So the same story, just in the past.

---

I have one more comment regarding the sentence:

I don't think you "download" the compilers for VS 2015. You need to install it in the project, which alters the project. @joozek78, @ubbeK should the

[2017-07-13 11:49] joozek78 commented on #146
"An alternative is to install Microsoft.Net.Compilers in KitchenSink project using nuget (Install-Package Microsoft.Net.Compilers. That will make VS use the C# compiler provided in the package instead of the one provided by VS itself."

[2017-07-13 12:52] warpech commented on #146
Thank you @joozek78. I have added the explanation, slightly changed.

[2017-07-13 13:39] warpech commented on #146
Thanks @Mackiovello too! Closing as done

[2017-07-13 13:39] #146 closed

[2017-07-17 08:27] Mihaiii commented on #152
Closing as done.

[2017-07-17 08:27] #152 closed

[2017-07-25 11:13] Mihaiii opened #159 "Invalid script execution order in Firefox and Edge"
This problem was presented in https://github.com/StarcounterApps/Content/issues/83#issuecomment-317589527 .

In order to encounter the problem (no matter the app), as presented in the above comment,
1. The function should be called when the page load.
2. The function should have arguments.

In KitchenSink there are 2 page that have this problem: [Pagnation](http://localhost:8080/KitchenSink/Pagina

[2017-07-31 12:24] Mihaiii opened #162 "json-patch-duplex.js error"
In order to reproduce, follow these steps:
![errorks](https://user-images.githubusercontent.com/8951553/28777510-b3433c2c-75fb-11e7-8ed1-66dfd149c3dc.gif)

`observer` is `undefined` and `beforeDict` is an empty array.

[2017-08-10 12:13] rogeralsing opened #164 "Add inline code examples to pages"
I would like to see inline code snippets for each example.
Similar to how it is displayed here: https://www.webcomponents.org/element/PolymerElements/paper-input/demo/demo/index.html

And paths to what source files in the solution/project are used per example.
e.g.

Page:

EXAMPLE

Snippet with the relevant stuff

Links to the full code files

[2017-08-10 12:19] alshakero commented on #164
I think we can automate this, a small expandable custom element that shows the same code of its `host` in a syntax highlighter. And throw this CE in every view.

[2017-08-10 12:24] rogeralsing commented on #164
Also, maybe consider making the highlighter an actual code editor, allow the user to tinker around with the client-side code and see what's going on. might be a much bigger task but it would be pretty neat.
(webcomponents.org site does this too)

[2017-08-22 14:07] RickardR opened #165 "KitchenSink doesn't seem to work on 2.3.1.7034"
And a couple of versions prior to that. Think it has something to do with the breaking changes with slots etc....Just a blank page, Json can be viewed through debug-aid though, so stuff just isn't rendered/bound.
Hade 7012 before that, there it worked.

[2017-08-23 08:36] PatrykSzwer commented on #165
Are you using master branch o KitchenSink? Because master branch is checked to be compatible with current stable version of Starcounter (right now, 2.3.0.6350), when develop branch is version compatible with newest candidates of SC. Please always try version from develop branch, when You're using one of the candidate versions of Starcounter.

[2017-08-28 07:16] alshakero opened #166 "Is it on purpose that default branch is set to master?"

[2017-08-30 16:56] alemoi commented on #102
This problem is probably no longer relevant. Closing.

[2017-08-30 16:56] #102 closed

[2017-09-01 16:22] Mihaiii opened #167 "Can't create more than one nested child"
### Steps to reproduce
1. Run https://github.com/StarcounterApps/KitchenSink/commit/d42dba70007a1be2fe7987de6460910967232e3c (current latest version on develop)
2. Go to `http://localhost:8080/KitchenSink/Nested`
3. Click "Add child"
3. Within the child, click again "Add child"

### Expected result

<img width="319" alt="nested1" src="https://user-images.githubusercontent.com/8951553/29978582-1b0c

[2017-09-01 18:26] alshakero commented on #167
I'll take care of it. Thank your for reporting and isolating the version!

[2017-09-03 17:22] Mihaiii commented on #167
Just as short as this bothers me a little:

Right now I'm getting the following json when I click "Add child" (I commented [this line](https://github.com/StarcounterApps/KitchenSink/blob/develop/src/KitchenSink/NestedPartial.json.cs#L19) for an easier comparison):
[code]

If [here](https://github.com/StarcounterApps/KitchenSink/blob/develop/src/KitchenSink/NestedPartial.json.cs#L12) you use this c

[2017-09-11 13:57] tomalec commented on #167
// sub

[2017-09-11 14:00] miyconst commented on #167
Subscribe.

[2017-09-12 16:10] alshakero commented on #167
I just isolated this to this build http://teamcity.starcounter.org/viewLog.html?buildId=29942&tab=buildResultsDiv&buildTypeId=Starcounter_V23NightlyWindows. It appears to be a side effect of `sc-include` v3.0.

[2017-09-12 18:25] tomalec commented on #167
Are you sure it does not hit non-namespaced partials again? https://github.com/Starcounter/starcounter-include/issues/29

[2017-09-12 20:06] tomalec commented on #167
With the latest RC there should be a warning in that case.

[2017-09-14 16:23] warpech commented on #73
@alshakero will take over this. @ubbeK what's the status of this issue? Seems that the branch https://github.com/StarcounterApps/KitchenSink/tree/debug-aid-test_issue-73 was created but never merged.

[2017-09-14 16:54] ubbeK commented on #73
It worked for chrome and edge if I remember correctly. Nothing was merged though, due to firefox.

[2017-09-20 13:16] warpech opened #169 "Show how to use slot attributes with dom-repeat"
Move the code that shows how to use slot attributes with dom-repeat from https://github.com/StarcounterApps/Website/pull/172#issuecomment-330487686 to KitchenSink

[2017-09-20 13:17] warpech opened #170 "Show how to use CSS Grid Layout"
Add some example how to use CSS Grid Layout. It can be by copying from https://github.com/StarcounterApps/Website/pull/172#issuecomment-330487686.

[2017-09-20 13:19] warpech opened #171 "Show when and how to use polyfill-next-selector"
Move the example of using `polyfill-next-selector` from https://github.com/StarcounterApps/Website/pull/172#issuecomment-330487686 to KitchenSink

[2017-09-21 12:20] warpech opened #172 "Create a page that demos CSS themability"
As said in https://github.com/Starcounter/RebelsLounge/issues/75#issuecomment-331137496, themability of apps should be achieved by CSS variables (arbitrary or defined by frameworks such as MDW or Polymer).

Create a demo page in KitchenSink that makes use of MDW and Polymer on few levels.

Each level needs a different theme (light, dark, pink).

There should be a button to load custom composition

[2017-09-25 11:58] Mihaiii opened #173 "Packages error"
### Steps to reproduce
1. Clone KitchenSink (`master` branch)
2. Build it.

### Expected result
No error.

### Actual result
There are errors. To bypass them, the user has to run

for `KitchenSink.Tests` and

for `KitchenSink`

After that will be one error that already existed with version `6.2.1.0` of `FluentValidation`:

[2017-09-25 12:52] Mihaiii commented on #173
Note: TeamCity shows everything is ok - therefore is probably a local problem.

[2017-09-25 15:26] Mihaiii commented on #173
Closing as not reproducible on another machine.

[2017-09-25 15:26] #173 closed

[2017-09-29 17:04] un-tone commented on #167
Created PR #176 for this issue

[2017-10-02 08:48] un-tone opened #178 "A lot of tests are failing in 2.3.1.7356"
More info in TeamCity: https://teamcity.starcounter.org/viewType.html?buildTypeId=Apps_KitchenSink_Develop&branch_Apps_KitchenSink=develop

[2017-10-02 08:53] un-tone commented on #167
Created another PR #177. Please check

[2017-10-02 12:08] warpech commented on #178
@PatrykSzwer you were looking into this. Any conclusions?

[2017-10-02 12:43] PatrykSzwer commented on #178
I've posted details here: https://github.com/StarcounterApps/KitchenSink/pull/174#issuecomment-333511015
Don't know the solution yet.

[2017-10-02 14:23] PatrykSzwer commented on #178
Restarting agent fixed this problem. Closing. Feel free to reopen if this problem going to came up again.

[2017-10-02 14:23] #178 closed

[2017-10-04 11:33] PatrykSzwer opened #179 "Kitchensink tests stopped working locally because of latest changes"
When I'm trying to run tests for Kitchensink, same way as usual, I've started to getting error like this:
![image](https://user-images.githubusercontent.com/25042256/31173418-b572a778-a907-11e7-837a-fd4bf02b8248.png)
This part of code, that causing this issue was added here: https://github.com/StarcounterApps/KitchenSink/pull/175

As I remember It was added as workaround for issue with files uploa

[2017-10-05 11:06] PatrykSzwer commented on #179
Fixed in #180. Closing.

[2017-10-05 11:06] #179 closed

[2017-10-05 12:40] warpech commented on #167
https://github.com/StarcounterApps/KitchenSink/pull/177 looks perfect, thanks!

[2017-10-06 11:30] warpech opened #181 "Two flaky tests failing often on TC"
These two tests fail in 50% of time on TC:

[code]

Sometimes this fails:

[code]

@un-tone do you have any idea why this might be? @PatrykSzwer was investigating this but could not find the reason: https://github.com/StarcounterApps/KitchenSink/pull/174#issuecomment-334487543

[2017-10-06 11:32] un-tone commented on #167
Closing as fixed.

[2017-10-06 11:32] #167 closed

[2017-10-06 11:41] warpech opened #182 "Web Components v1 incompatibilities"
After https://github.com/StarcounterApps/KitchenSink/pull/174, KitchenSink still has two WCv1 incomptibilities:

- `hot-table` uses `<content>` - tracked in https://github.com/handsontable/hot-table/issues/44
- `pikaday-decorator` uses `<content>` - tracked in https://github.com/display-interactive/pikaday-decorator/issues/2. Since the original author does not want to support it, be have to either

[2017-10-06 14:05] un-tone commented on #181
There was 2 running `geckodriver.exe` processes in background. I guess it was a reason.

I also updated selenium binary and drivers to last versions on ScBuildAppWin01.

[2017-10-09 08:43] warpech commented on #181
Thanks, but I think that was not it. A new build failed yesterday: https://teamcity.starcounter.org/viewLog.html?buildId=33879&buildTypeId=Apps_KitchenSink_Develop

Btw. Could you please update `CHANGELOG.txt` on the desktop of the build agent?

[2017-10-09 12:16] warpech commented on #182
`hot-table` was fixed. I will make a PR to KitchenSink

[2017-10-09 12:22] warpech commented on #182
@tomalec made a PR to pikaday-decorator: https://github.com/display-interactive/pikaday-decorator/pull/4

[2017-10-09 15:01] warpech opened #186 "Datagrid page needs improvements"
The datagrid page should get the following improvements:

- add a paragraph that explains how the right column gets updated by the server when you type a name of an animal
- in Chrome, the right column does not get automatically refreshed. That's a bug, fix that.
- add a test for the above feature

Assigning this on me.

[2017-10-13 10:33] warpech commented on #181
Fixed in #189

[2017-10-13 10:33] #181 closed

[2017-10-16 08:21] warpech commented on #182
Both incompatibilities are now fixed.

[2017-10-16 08:21] #182 closed

[2017-10-16 08:44] un-tone commented on #181
Done.

[2017-10-16 09:43] warpech opened #190 "Tests problem with Window.Maximize()"
After my last changes in https://github.com/Starcounter/KitchenSink/pull/189, KitchenSink tests pass, but have rather ridiculous double call to `Window.Maximize()`:

https://github.com/Starcounter/KitchenSink/blob/607cfcdd9cd66d2fa90481db2f186572aeda50b9/test/KitchenSink.Tests/Utilities/WebDriverManager.cs#L36

https://github.com/Starcounter/KitchenSink/blob/607cfcdd9cd66d2fa90481db2f186572aeda50b

[2017-10-16 10:49] PatrykSzwer commented on #190
I've actually removed this one, unnecessary Maximize call, and locally, everything seems working. I've created PR #191  for this, We will see if tests on teamcity will fail or not.

[2017-10-19 09:35] PatrykSzwer commented on #190
I've replaced Manage().Window calls with options argument. I think It's most elegant and most of all reliable solution.

[2017-10-19 12:20] warpech commented on #186
Fixed in #187

[2017-10-19 12:20] #186 closed

[2017-10-20 06:16] per-samuelsson commented on #24
Could you clarify that? I want to know what it is we don't support, so we can try to find ways to support that in future versions.

[2017-10-20 07:49] warpech commented on #24
A blind guess looking at https://github.com/Starcounter/KitchenSink/commit/a00b7e1794446ef5256376992e323d01d62f4ce6 - maybe what @aloscha means is the limitation of TypedJson which disallows to overload a Json constructor?

[2017-10-20 08:25] joozek78 commented on #24
I think he meant exactly that. We spoke about that topic

[2017-10-20 08:28] PatrykSzwer commented on #190
Closing as done.

[2017-10-20 08:28] #190 closed

[2017-10-20 11:02] per-samuelsson commented on #24
Ah, thanks @warpech and @joozek78, I thought there was a problem with database classes not supporting some certain constructor. Now I know.

[2017-10-23 21:17] alshakero opened #196 "Polymer 2.x version only works in Chrome"
This issue is to share my progress and maybe get some help. I'm still investigating the issue, but if you'd like to help and/or curious about our progress with Polymer 2.0, you can follow these steps to have a running Polymer 2.0 KS app:

1. Clone [SysUpgrade#Polymer2-WCv1](https://github.com/Starcounter/SysUpgrade/tree/Polymer2-WCv1). This is an easier way to have [`starcounter-include#Polymer2-f

[2017-10-26 20:20] warpech commented on #166
Archiving. This is tracked in https://github.com/Starcounter/RebelsLounge/issues/175

[2017-10-26 20:20] #166 closed

[2017-10-26 20:30] warpech commented on #143
This should be done after https://github.com/Starcounter/KitchenSink/tree/polymer2 is merged to `develop`

[2017-11-02 17:29] warpech opened #198 "File upload tests fail in TeamCity"
@PatrykSzwer could you pls take a look? For example today's build: http://teamcity.starcounter.org/viewLog.html?buildId=36231&tab=buildResultsDiv&buildTypeId=Apps_KitchenSink_Develop

![image](https://user-images.githubusercontent.com/566463/32340723-b58177c0-bffb-11e7-9272-49a38a0a6fec.png)

[2017-11-06 10:18] PatrykSzwer commented on #198
I've done some investigation and turns out that It's Starcounter's update fault. After updating on version 2.3.1.7688 Handler responsive for handling web socket disconnection stopped working. @alemoi could You provide us some help here?
This fragment is not working anymore:
https://github.com/Starcounter/KitchenSink/blob/develop/src/KitchenSink/HandleFile.cs#L79

[2017-11-06 11:51] alemoi commented on #198
Do you mean its not called? Or some other kind of failure?

[2017-11-06 12:16] PatrykSzwer commented on #198
Exactly, It's not even called.

[2017-11-06 23:50] alemoi commented on #198
Will look into it tomorrow!

[2017-11-08 12:21] warpech commented on #198
@PatrykSzwer is it fixed now?

[2017-11-09 06:44] alemoi commented on #198
Seems working fine!

[2017-11-09 06:44] #198 closed

[2017-11-15 18:49] warpech opened #201 "Builds with warnings in Starcounter 2.3.1.x"
Current `master` branch uses APIs that are deprecated in Starcounter 2.3.1.x.

![image](https://user-images.githubusercontent.com/566463/32854169-0944ee90-ca3e-11e7-85c7-c76244dec755.png)

@un-tone can you pls fix this?

[2017-11-16 13:23] alshakero opened #203 "It uses deprecated juicy-html API"
Navigate to http://localhost:8080/KitchenSink/Html and check the console.

[2017-11-16 16:21] alshakero commented on #203
Fixed in https://github.com/Starcounter/KitchenSink/commit/e716a70baca5d0efe6105f6853122d3bd66393f4

[2017-11-16 17:04] un-tone commented on #201
Closing as done

[2017-11-16 17:04] #201 closed

[2017-11-27 09:13] PatrykSzwer commented on #165
Since It's no longer reproducible, I'll close this issue. Feel free to reopen if problem still occurs.

[2017-11-27 09:13] #165 closed

[2017-11-27 09:26] PatrykSzwer commented on #162
I couldn't reproduce this. I'll close this issue for now, as unreproducible, and if You get this error again, please reopen and make more detailed steps to reproduce.

[2017-11-27 09:26] #162 closed

[2017-11-27 09:31] PatrykSzwer commented on #10
'/kitchensink/map` is working as expected now. Closing as fixed.

[2017-11-27 09:40] PatrykSzwer commented on #73
I think, since We're migrating to add-on solution this issue can be closed. Please reopen if You disagree.

[2017-11-27 09:40] #73 closed

[2017-11-27 10:49] warpech commented on #10
There is no page with URI `/kitchensink/map`.

We have `/kitchensink/geo` for the reason that `/kitchensink/map` did not work.

Could you please change the URI to `/kitchensink/map` and check if it works?

[2017-11-27 10:50] warpech commented on #73
Yes, in fact, we would not be able to test the Chrome Extension from the level of Selenium in a Starcounter app.

[2017-11-27 12:58] PatrykSzwer commented on #10
Yes It's working.
I'll create PR for that change.

[2017-11-28 10:57] warpech commented on #196
This will be fixed after `d-r-e` is removed from Starcounter 2.4.

Closing as solved by other means.

[2017-11-28 10:57] #196 closed

[2017-11-29 13:40] warpech opened #205 "Hosted demo of KitchenSink"
We should have hosted demo of KitchenSink (e.g. at <http://kitchensink.starcounter.io/kitchensink>) that always uses the current Starcounter RC and KitchenSink. It should be deployed automatically after a successful build of http://teamcity.starcounter.org/viewType.html?buildTypeId=Apps_KitchenSink_Develop.

I discussed this on 2017-11-21 with @LarsTjernstrom and he said it would improve his workf

[2017-11-29 13:47] LarsTjernstrom commented on #205
If we should promote live demos of polymer components, we should definatly
change the name!
What's in my Kitchen sink is garbage and we don't consider a Web UI tool
demonstration to be garbage, Or?

[image: photo]

<https://www.facebook.com/StarcounterDB/>
<https://www.linkedin.com/company/starcounterdb>
<https://twitter.com/StarcounterDB>

 *Lars Tjernström *| *Software architect *
+46 70 668 08

[2017-11-29 13:49] warpech commented on #205
"Kitchen Sink" is a standard name for demo of UI component collections: https://www.google.pl/search?q=kitchensink+demo

[2017-11-29 13:52] alshakero commented on #205
I'd appreciate that a lot. I needed a live SC app many times.

[2017-11-29 14:14] ubbeK commented on #205
This issue has been added to UrbanStar project but is not planned to be implemented any time soon.

[2017-11-30 10:03] ubbeK commented on #205
@warpech @LarsTjernstrom So we want a publicly accessible version of latest Starcounter RC version + Latest Kitchensink. Will there be a need for other apps to be tested like this in the future?

[2017-11-30 14:00] warpech opened #207 "Add an example of sparse data representation in a table"
In case of having a table with 100 rows and 100 columns, there are 10000 cells. But you might not want to create all 10000 data objects upfront - especially if most of the cells are supposed to be empty or present a default value.

In that case, you utilize a sparse data view-model, in which there is an array of objects (`Cells`). Each object has cell data and cell coordinates.

A new data object

[2017-12-01 02:15] ubbeK commented on #205
This is more or less how I would go about this.

In short:

- Create new AWS EC2 instance
- Trigger from TeamCity
- Scripts on AWS EC2 instance server
- Configure DNS records
- Misc

## Create new AWS EC2 instance
I would like to have a new AWS EC2 instance server for this which will host the Starcounter server. I have talked to @LarsTjernstrom about `App-teams` future desire of verifying their `S

[2017-12-04 22:37] warpech commented on #205
@ubbeK thanks so much for the write-up! I was thinking that someone from the @Starcounter/webplatformteam can do that, but now I can see it looks freaking complex to do it right. So I think we will have to wait until you have resources for that.

Btw there is one config that attempted some simple deployment (but thats to Warehouse, not to AWS): http://teamcity.starcounter.org/viewType.html?buildTy

[2017-12-05 16:06] mmnosek commented on #205
Side question: shouldn't we do the same kind of continuous delivery with `inside.starcounter.com`? Anyway, it should be described as a way to go continuous delivery with Stacounter afterwards. And be the reference point to how we simplify this process in the process, iteratively.

[2017-12-05 17:21] ubbeK commented on #205
We should definetly take a step toward continous delivery. Regard updating apps we will probably do this through the warehouse but this issue also takes the starcounter installation into acount as well.

[2017-12-07 14:12] PatrykSzwer opened #210 "Triggering messages at Flash Message page crashes application"
### Steps to reproduce
1. Go to `/KitchenSink/FlashMessage`.
2. Click on `Trigger message from server side`.
3. Wait couple of seconds.
### Expected result
Message shows up and nothing more happen.
### Actual result
Message is shown but entire app crashes after couple of seconds.

##### Starcounter version 2.3.1.7954

##### Browsers affected
- [x] Chrome

BTW: There is no tests that covers Flash M

[2017-12-12 17:39] warpech commented on #196
The remaining problem is tracked here https://github.com/Starcounter/starcounter-include/issues/69

[2017-12-13 11:20] #210 closed

[2017-12-13 12:22] warpech opened #213 "Add an example of filterable table"
As explained in https://github.com/StarcounterApps/People/issues/144

This is low prio.

[2017-12-14 16:13] warpech opened #215 "Add an example of downloadable file"
This should be as simple as:

[code]
Until https://github.com/Palindrom/Palindrom/issues/189 is done, a workaround ( `target="_blank"`) can be used.

This was originally reported in https://github.com/Starcounter/level1/issues/3364

[2018-01-03 14:54] tomalec opened #219 "Paginated table does not have explicit slot, is it by desired?"
As you can see at https://github.com/Starcounter/KitchenSink/blob/master/src/KitchenSink/wwwroot/KitchenSink/PaginationPage.html#L11

`<table>` does not have any `slot` attribute, therefore, it will be distributed in the default one, at the very bottom? Is it desired? Do we want app devs to copy'n'paste that?

I think it's better to use explicit slot names as they are well... explicit. If we reall

[2018-01-03 15:13] warpech commented on #219
It is obviously a bug... or a trap for bugs in `starcounter-include` ;)

Can be fixed next week by Egor.

[2018-01-03 17:11] tomalec commented on #219
I have added some unit tests in https://github.com/Juicy/imported-template/pull/44, so hopefully this trap is no longer needed ;)

[2018-01-05 10:39] alshakero opened #220 "Uses old `<link is="palindrom-redirect">`"
Should be upgraded to `<palindrom-redirect />`

@PatrykSzwer would you like to take that?

[2018-01-05 12:28] PatrykSzwer commented on #220
Should this be applied for 2.4 only?

[2018-01-05 12:31] alshakero commented on #220
@warpech @tomalec do you think

[code]

Is a good idea to make it hybrid?

[2018-01-05 13:21] tomalec commented on #220
1. I'd not add a `slot` attr to is, as it is non-visual element,
2. Slot in nested element is not needed anyhow,
3. Do we need a hybrid version? If so, let's do it but add a code comment that it's just a fallback for 2.3

[2018-01-05 13:35] alshakero commented on #220
It's not neccassry but the less diversion between `master` and `master-2.4` the better.

[2018-01-05 14:01] tomalec commented on #220
On the other hand, the  less hybrid versions we have to maintain the agiler we are and the cleaner the code is.

[2018-01-05 14:03] alshakero commented on #220
Oh, you're right! I missed that! East or west we'll need to have different bower version for `palindrom-client`. It isn't like `dom-bind`.

So I change my mind. I think this issue only applies to 2.4.

[2018-01-05 14:04] tomalec commented on #220
Also, we already maintain separate `master-2.4 branch`

[2018-01-06 10:24] tomalec commented on #220
fixed in https://github.com/Starcounter/KitchenSink/pull/221

[2018-01-06 10:24] #220 closed

[2018-01-09 14:42] kegor commented on #219
Fixed in #222.

[2018-01-09 14:42] #219 closed

[2018-01-09 22:10] warpech opened #225 "Upgrade juicy-select to the current version"
Upgrade `juicy-select` with Bower to the current version https://github.com/Juicy/juicy-select/releases/tag/1.1.0

[2018-01-12 11:14] warpech opened #227 "Failing tests on Firefox in Starcoutner 2.3"
There are failing tests on `master` branch after https://github.com/Starcounter/KitchenSink/pull/223 was merged to `master-2.4` and then `master-2.4` to `master`. That was the kind of change that was supposed to be done with [`ours` merge strategy](https://git-scm.com/docs/merge-strategies) on the `master` branch.

@PatrykSzwer can you please revert https://github.com/Starcounter/KitchenSink/pull/

[2018-01-12 12:48] warpech commented on #215
Closing as done in #224, #216

[2018-01-12 12:48] #215 closed

[2018-01-12 12:53] warpech opened #229 "Convert the datagrid page to be a CRUD interface"
Right now the datagrid page is too simple for practical use. Convert it to do CRUD operations on a database object, based on `<hot-table>`.

[2018-01-12 13:01] kegor commented on #225
Closed as it is fixed in the #226.

[2018-01-12 13:01] #225 closed

[2018-01-12 20:17] SenerDemiral opened #230 "Misspelling: target="_black""
[https://github.com/Starcounter/KitchenSink/blob/master-2.4/src/KitchenSink/wwwroot/KitchenSink/UrlPage.html#L11](url)

[2018-01-13 09:24] Mackiovello commented on #230
Good catch! The link seems to be bad, here's a working one: https://github.com/Starcounter/KitchenSink/blob/17957236f496b5d28ce76e2d22106b7a189ef143/src/KitchenSink/wwwroot/KitchenSink/UrlPage.html#L11

[2018-01-15 10:57] warpech commented on #230
Thanks for reporting. @kegor can you pls fix?

[2018-01-15 12:23] warpech opened #231 "Solution builds with warnings"
Similar to: https://github.com/Starcounter/Blending/issues/41

The solution builds with few deprecation warnings. @kegor could you please look up what are the current methods to use and upgrade the code?

Please make the PR to `master-2.4` but the changes should build with Starcounter 2.4 and 2.3.1 (we will check on TeamCity).

[2018-01-16 10:27] PatrykSzwer commented on #227
Closing as done.

[2018-01-16 10:27] #227 closed

[2018-01-16 10:34] kegor commented on #230
Closed as fixed in #232.

[2018-01-16 10:34] #230 closed

[2018-01-16 11:07] kegor commented on #231
@PatrykSzwer pointed that the reason in unused and perhaps forgotten reference to Simplified.Data.Model (without installed nuget-package for 2.4 versions). So this reference was just removed. Now there are no warnings on build.

[2018-01-16 11:38] PatrykSzwer commented on #231
Closing as done.

[2018-01-16 11:38] #231 closed

[2018-01-16 12:45] PatrykSzwer opened #234 "There are 2 kitchenSink apps in warehouse"
Right now in the warehouse, We can find two KitchenSink apps:
![image](https://user-images.githubusercontent.com/25042256/34989536-28fa69da-fac3-11e7-9de0-0f25768da037.png)
I'm 99% sure that the first one can be deleted, and the second one should be added to the shop, to be visible for users, but I would like to have some confirmation about that.
@warpech Could You confirm that I can delete `Kitch

[2018-01-17 15:23] PatrykSzwer commented on #143
Should this be done only at 2.4 branch, only at master branch or on both? (right now merging either `master` to `master-2.4` or `master-2.4` to `master` would cause unwanted changes and errors).

[2018-01-17 16:47] warpech commented on #234
Yes, please do so

[2018-01-18 08:23] PatrykSzwer commented on #234
Already done, closing.

[2018-01-18 08:23] #234 closed

[2018-01-18 08:45] kegor opened #235 "KitchenSink.Tests targetFramework=4.5.2, while for KitchenSink is 4.6.2"
While exploring KitchenSink.Tests project I found the unexpected detail, that despite the fact that KitchenSink itself has targetFramework=4.6.2 tests still has targetFramework=4.5.2.

I had issue [Use .NET Framework 4.6.1 for apps](https://github.com/Starcounter/Home/issues/347) in a near past, and there is looks reasonable to change targetFramework version to 4.6.2 following the main project?

@

[2018-01-18 12:54] warpech commented on #235
Yes, please do that. Thanks for suggesting.

[2018-01-21 20:38] warpech commented on #186
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:38] warpech commented on #190
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:38] warpech commented on #201
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:38] warpech commented on #220
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:38] warpech commented on #219
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:39] warpech commented on #225
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:39] warpech commented on #227
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:39] warpech commented on #230
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:39] warpech commented on #231
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-21 20:39] warpech commented on #234
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/KitchenSink/releases/tag/2.0.0
- published in the App Warehouse
- blogged at https://starcounter.io/kitchensink-2-0-0-released-includes-34-common-ui-patterns/

[2018-01-22 09:56] warpech opened #238 "Switch KitchenSink from Bootstrap to Underwear.css + Uniform.css"

[2018-01-22 13:35] PatrykSzwer opened #239 "Async response - Client side messages don't work"
### Steps to reproduce
1. Run Kitchensink from branch `master-2.4`
2. Go to `http://localhost:8080/KitchenSink/Callback`
3. Click on "Randomly Save of fail Changes" button or "Save" button in table under Client column.
### Expected result
An appropriate message should be shown.
### Actual result
Nothing is happening.

##### Starcounter version 2.4.0.4574

##### Browsers affected

- [x] Chrome
- [x

[2018-01-22 13:48] PatrykSzwer commented on #238
I've created branch `underwear-2.4` which contains all changes from `underwear` branch and It's compatible with newest SC 2.4.0. It also contains newest version of underwear from @alshakero. For now there are manually added files for uniform, underwear and normalizer, after release of  StarcounterClientFiles 3.0.0-rc.1 with Underwear and Uniform I'll remove those.

[2018-01-23 08:55] kegor commented on #235
Closed because fixed in #236.

[2018-01-23 08:55] #235 closed

[2018-01-23 11:57] warpech commented on #205
I have launched KitchenSink 2.0.0 in Starcounter 2.4 on an AWS machine "Hosted KitchenSink". This is the smallest EC2 instance (`t2.micro`). The credentials are in RDG.

https://kitchensink.starcounter.io/

Currently, there is no continuous delivery of it. It is installed manually.

[2018-01-23 12:15] miyconst commented on #205
The live demo link should be available somewhere to discover, readme, starcounter.io, maybe other places as well.

[2018-01-23 13:13] joozek78 commented on #205
A few notes about the plan:

It's super easy to create a [meta-runner](https://confluence.jetbrains.com/display/TCD10/Working+with+Meta-Runner) to achieve this

Since we trigger it from the KitchenSink build, isn't it easier and better to use the artifacts just created?
If we are cloudflare enterprise customers, then we can use [Client Certificate Authentication](https://blog.cloudflare.com/introd

[2018-01-23 14:01] alshakero commented on #238
@PatrykSzwer StarcounterClientFiles 3.0.0-rc.1 is released.

[2018-01-23 14:40] warpech commented on #239
Pls make sure a test is added for this

[2018-01-23 14:47] PatrykSzwer commented on #238
I've updated `underwear-2.4` branch, by removing all local files that are provided now with StarcounterClientFiles (I've left uniform for now, for test purposes since @alshakero needs to do some additional changes).

[2018-01-25 08:38] warpech commented on #238
This looks really good! I hope we can merge by the end of the week.

@PatrykSzwer the tests are failing with the [`underwear-2.4`](http://localhost:8080/KitchenSink/MainPage) branch. Is that expected?

@PatrykSzwer can you make a PR of `underwear-2.4` to `master-2.4`?

@alshakero BreadcrumbPage and other pages try to import `/sys/uniform/uniform.css`, which gives 404 with StarcounterClientFiles 3.

[2018-01-25 10:18] andwah commented on #238
Any reason why the `Datagrid `and `Table` does not have the same styling?

**DataGrid**

![image](https://user-images.githubusercontent.com/2656996/35383010-5571b144-01c1-11e8-851d-81200c93eac4.png)

**Table**

![image](https://user-images.githubusercontent.com/2656996/35383023-5fd856a6-01c1-11e8-97b2-ad23a6c329b0.png)

Would be nice if they had the same look'n'feeling.

[2018-01-25 10:22] andwah commented on #238
DatePicker looks strange (using chrome Version 63.0.3239.132)

![image](https://user-images.githubusercontent.com/2656996/35383206-e8295a32-01c1-11e8-94aa-7004fa9f7530.png)

[2018-01-25 10:30] andwah commented on #238
Components uses different Theme color's

**Toggle button**
![image](https://user-images.githubusercontent.com/2656996/35383402-815e7bb0-01c2-11e8-932a-f6638440e92f.png)

**Breadcrumbs**
![image](https://user-images.githubusercontent.com/2656996/35383460-ad1305fa-01c2-11e8-8b41-b9fb37ea51b1.png)

**Radio Buttons**
![image](https://user-images.githubusercontent.com/2656996/35383539-daefd796-01c2-11e

[2018-01-25 11:54] warpech commented on #238
Datagrid is a `hot-table` custom element that has encapsulated look and feel. It might not be pretty but it can't simply be styled by Underwear, which is in light DOM.

Thanks, @PatrykSzwer has a fix for this AFAIK.

These components are Paper components which need an additional compatibility layer that is beyond the scope of Underwear.css. Track https://github.com/Starcounter/Blending/issues/52 f

[2018-01-25 12:13] alshakero commented on #238
We can make something similar to https://getbootstrap.com/docs/3.3/components/#alerts. They seem quite easy to make.

[2018-01-25 12:19] andwah commented on #238
I think for the moment we just need change the color the red theme color.

The problem with "alerts" that they will "push" down or overlay elements below.
I think a small text below the field in the space beetween components. is the best way at the moment as long it does not move any other elemens .

[2018-01-25 13:05] PatrykSzwer commented on #238
@andwah solution for that should be here: https://github.com/Starcounter/KitchenSink/pull/240
After this PR will be merged, I will pull those changes to underwear branch and see how It will look with our framework.

[2018-01-25 15:15] PatrykSzwer commented on #238
DatePicker should look good right now, all changes from #240 are merged.

[2018-01-25 15:40] alshakero commented on #238
https://github.com/Starcounter/KitchenSink/pull/240 seems to be merged to `master-2.4`, Shouldn't new changes be merged to `underwear-2.4` branch from now on until we merge?

[2018-01-29 17:58] tomalec opened #242 "Remove specific classes for tests"
### Steps to reproduce
1. Open code at https://github.com/Starcounter/KitchenSink/blob/d1a1a082c00662a98b6a457024a2775a60e38eb9/src/KitchenSink/wwwroot/KitchenSink/TextareaPage.html#L7-L9

### Expected result
The code should be as clean as possible to showcase Starcounter features

### Actual result
The elements have `class="kitchensink-test-bio-reaction-label"` attributes just for Selenium tests.

[2018-01-29 22:28] warpech commented on #242
Using `[slot="kitchensink/textarea-label"]` as the selector for Selenium is a great idea, thanks!

I am afraid `test-value` attribute is needed. At least, it was needed at the time of writing the tests. But we can check that again because that was in the time of Polymer 1.x.

@kegor could you please work on this?

I propose to target a PR at `master-2.4` branch to make sure we can check that it is

[2018-02-06 13:03] kegor commented on #242
Closed because the fix was merged in #243.

[2018-02-13 15:35] alshakero commented on #239
I investigated this a bit to help @kegor and I think it has to do with Polymer 2 and `observers`.

Here is working HTML for `Callback.html`

[code]

[2018-02-13 20:27] warpech commented on #239
Please test tomorrow with a new build of Level1. It should include Polymer 2.5 from https://github.com/Starcounter/StarcounterClientFiles/releases/tag/2.3.0.

@tomalec was reporting in https://github.com/Starcounter/StarcounterClientFiles/issues/37 that it fixes some binding problems:

[2018-02-14 00:46] tomalec commented on #242
It seems we still have unprefixed test-specific classes like
- [ ] https://github.com/Starcounter/KitchenSink/blob/master-2.4/test/KitchenSink.Tests/Ui/TablePage.cs#L17-L21
- [ ] https://github.com/Starcounter/KitchenSink/blob/master-2.4/src/KitchenSink/wwwroot/KitchenSink/TablePage.html#L7
- [ ] https://github.com/Starcounter/KitchenSink/blob/master-2.4/test/KitchenSink.Tests/Ui/FileUploadPage.cs

[2018-02-14 08:21] warpech opened #247 "Pagination does not look as intended"
This is how pagination looks in KitchenSink `underwear-2.4` branch (https://github.com/Starcounter/KitchenSink/pull/241/commits/f53910a003d493e8cd88dd80f83c04fc80927a93) with StarcounterClientFiles 3.0.0-rc.5:

![image](https://user-images.githubusercontent.com/566463/36193892-e31835b2-1167-11e8-9f1b-f68e7a85a3ea.png)

This is how it should look according to the design:

![image](https://user-imag

[2018-02-14 09:08] andwah commented on #247
TeamDrive updated with this design

![image](https://user-images.githubusercontent.com/2656996/36195799-f4f5bf64-116e-11e8-856b-719706185243.png)

[2018-02-14 09:46] tomalec opened #248 "Clicking next page in pagination advances two pages not one"
### Steps to reproduce

### Expected result

### Actual result

### Technical information

##### Starcounter version

##### Involved apps' version

##### Browsers affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari

### Screenshot

[2018-02-18 18:38] warpech commented on #171
Closing as won't fix. We are now on webcomponents.js v1, which does not have `polyfill-next-selector` anymore.

[2018-02-18 18:38] #171 closed

[2018-02-20 05:23] warpech opened #253 "Checkbox does not look as desired"
Moved from https://github.com/Starcounter/KitchenSink/pull/241#issuecomment-366739193

----

@alshakero  writes:

One minor but pet-peevy issue. `CheckboxPage` has this:

[code]

Which results in this:
![image](https://user-images.githubusercontent.com/17054134/36387146-693a3986-1598-11e8-81d1-684d7c193ee2.png)

This is due to `uni-label-control`. @tomalec.

Here is the desired look
![image](https

[2018-02-20 05:23] warpech commented on #253
@alshakero you mean the positioning of the checkbox's label, right?

[2018-02-20 08:50] alshakero commented on #253
Exactly.

[2018-02-20 08:54] tomalec commented on #253
Do you think it should use the same structure `<div class="uni-label-control"><slot name="forcheckbox"/><slot name="forlabel"/></div>`? I'd rather use different class/structure for that.

[2018-02-20 09:45] alshakero commented on #253
Good idea. I agree with this. It's simpler, does the job and quite easy to understand (for users).

[2018-02-20 10:49] kegor commented on #239
Closed because fixes (removing client-side async messages) were merged in #250.

[2018-02-20 10:49] #239 closed

[2018-02-20 11:26] warpech commented on #253
@PatrykSzwer and @andwah can you work on it tomorrow? Add an example of using a checkbox with a label to Uniform.css, including the demo page.

[2018-02-20 13:06] warpech commented on #238
Closing as done in https://github.com/Starcounter/KitchenSink/pull/241

[2018-02-20 13:06] #238 closed

[2018-02-20 13:07] warpech commented on #247
@PatrykSzwer can you please work on this?

[2018-02-20 15:04] andwah commented on #253
@PatrykSzwer How can i help you?.

[2018-02-20 15:05] andwah commented on #247
@PatrykSzwer How can i help you?

[2018-02-20 15:58] tomalec commented on #247
Done:
https://github.com/Starcounter/KitchenSink/pull/255

[2018-02-21 12:00] PatrykSzwer commented on #253
We discussed this and agreed that we should add possibility to choose the site where label goes, so we should have:

- uni-label-control (I'm not sure if control word is needed here, maybe we could think about some shorter name? But from another side we decided to not change api anymore if I'm correct) by default should be on top of the input text field and on the right side of the checbox input (

[2018-02-21 15:40] warpech commented on #253
`uni-label-control` has the following implementation:

[code]

If we put all these values as variables, you could **configure** how to render `uni-label-control` while using the same CSS class, similarly how you configure the color of primary buttons.

How does that sound?

[2018-02-22 09:47] PatrykSzwer commented on #253
It sounds... tricky, because let's say you have 4 inputs on your view, and you want 2 of them to be control-left, one control default and one control-right. In this case you have to set variables for each of them in your composition. I think that would be really developer unfriendly. We can variablize part of the values, like grid-gap which I believe is the margin between label and input but I thi

[2018-02-22 10:26] warpech opened #256 "Upgrade paper-dialog; use "paper-dialog-buttons" class"
Upgrade paper-dialog to a version that includes https://github.com/PolymerElements/paper-dialog-behavior/releases/tag/v2.2.0, use `paper-dialog-buttons` class instead of `buttons`.

[2018-02-22 10:44] warpech commented on #253
Ok I agree

[2018-02-22 11:39] tomalec opened #257 "Replace buttons class with `paper-dialog-buttons`"
As new version of https://github.com/PolymerElements/paper-dialog-behavior/releases/tag/v2.2.0 was released, now we can update original version of `paper-dialog` and use less conflicting, prefixed class name to achieve same results.

### Steps to reproduce
1. open https://github.com/Starcounter/KitchenSink/blob/master-2.4/src/KitchenSink/wwwroot/KitchenSink/DialogPage.html#L24

### Expected result

[2018-02-22 12:06] warpech commented on #256
Closing as duplicated by https://github.com/Starcounter/KitchenSink/issues/257

[2018-02-22 12:06] #256 closed

[2018-02-22 16:48] kegor commented on #242
Closed because the fix was merged in the #249.

[2018-02-22 16:48] #242 closed

[2018-02-26 09:49] warpech commented on #253
Part 1 (in KS)

Remove the class uni-label-control and put the "You can drive" message in uni-alert-info.

Part 2 (in Uniform)

Implement uni-label-control-left, etc

[2018-02-26 09:50] tomalec commented on #253
Speaking of names what do you think about `uni-label-pair`/`uni-label-couple` to emphasize coupling the label with any labelable element?

[2018-02-27 16:01] warpech commented on #247
Closing as done

[2018-02-27 16:01] #247 closed

[2018-02-28 09:35] tomalec commented on #247
@warpech  Why do you think it's done?
![obraz](https://user-images.githubusercontent.com/17435/36780329-f2616942-1c72-11e8-9eb3-4376a231ea30.png)

I'd say, two last points still stands

[2018-02-28 10:18] warpech commented on #247
Because all the remaining issues should be fixed in Uniform.css, not KitchenSink.

Firefox issue is tracked elsewhere: https://github.com/Starcounter/uniform.css/issues/56

I added this to https://github.com/Starcounter/uniform.css/issues/52

This is tracked elsewhere: https://github.com/Starcounter/uniform.css/issues/52

[2018-03-01 09:55] PatrykSzwer commented on #253
Closing since the issue was fixed, but we should consider expending those uni-label-control classes as we spoke above.

[2018-03-01 09:55] #253 closed

[2018-03-08 15:15] PatrykSzwer opened #260 "Use new classes from uniform in Kitchensink"

[2018-03-12 05:11] warpech commented on #260
I will push a few improvements today

[2018-03-12 13:36] PatrykSzwer commented on #260
Closing as done.

[2018-03-12 13:36] #260 closed

[2018-03-19 07:23] warpech opened #263 "Pagination buttons should not be <span>"
### Expected result

The pagination buttons should be a `<button>` or `<a href="">`, never `<span>`.

### Actual result

Currently the pagination buttons are done as `<span>`s.

[2018-03-20 09:26] PatrykSzwer commented on #263
I'm afraid that this will need some changes in uniform/underwear also.
When using `button` tags, styles from underwear comming to a stage, and pagination starts looking like this:
![image](https://user-images.githubusercontent.com/25042256/37646130-11813666-2c29-11e8-8b48-23cd927f0908.png)
With `a` is better, but then disabled state styles are not handled properly (or at all):
![image](https://use

[2018-03-23 10:12] mmnosek opened #268 "Move link to KitchenSink demo to the readme"
1. I'm redirected to this repo from Starcounter documentation (that I can find common UI patterns here).
1. What I do automatically, is to scroll down to readme.
1. Because of this, I miss the link to the demo which is on the top of the page.

Can we put it in the first line of readme as well? I think it will rise a chance that a developer won't miss it.

[2018-03-26 07:01] warpech opened #269 "DatepickerPage_SelectDate test sometimes fails"
Sometimes the build fails on the `DatepickerPage_SelectDate` test. For example: https://teamcity.starcounter.org/viewLog.html?buildId=50715&buildTypeId=Apps_KitchenSink_KitchenSinkMaster24branchWithStarcounterDevelopNightly

@kegor could you pls investigate that?

<img width="1139" alt="screen shot 2018-03-26 at 08 58 47" src="https://user-images.githubusercontent.com/566463/37891327-359c22f4-30d4

[2018-03-26 10:31] kegor commented on #269
I think that the problem here is in time that datepicker spends on changing the default date on the selected one in the test:
![datepicker_selectdate_test](https://user-images.githubusercontent.com/17431807/37901249-5b8b87f0-30f9-11e8-8c84-5beb06c51f2a.gif)
I think we can either replace `Assert`'s on `WaitUntil` or add one `WaitUntil` before all `Assert`'s, it will wait while datepicker will be cl

[2018-03-30 07:57] warpech opened #271 "Implement an initial version of uni-datepicker"
Implement an initial version of `uni-datepicker` as a branch in KitchenSink. Requirements are in https://github.com/Starcounter/RebelsLounge/issues/220

[2018-04-03 15:06] tomalec commented on #271
I consider https://github.com/tomalec/uni-date-picker to be ready for the review as a proof of concept and technology. I will now try to add it to kitchensink to be more reviewable.

[2018-04-03 15:26] warpech commented on #271
Since you created a separate repo with a demo page, could you pls expose it as GitHub Pages? You can move to the Starcounter org if it helps.

[2018-04-03 16:04] tomalec commented on #271
I think we need a separate org for this. Not to pollute Starcounter repos with 120+ custom elements.

(To make it work on GH pages we need Polymer 2+, which would break JSON Patch OT visualization on my user space)

Feel free to review it in KitchenSink https://github.com/Starcounter/KitchenSink/pull/272

I had hard time fixing the test, will try to investigate it tomorrow.

[2018-04-04 07:50] warpech commented on #271
The purpose is to distribute Uniform Components with Starcoutner, so I think it makes big sense to contain all Uniform Components in a single monorepo (`Starcounter/Uniform`). This will also reduce the overheads of READMEs, tests, etc.

Other famous component libraries in monorepos:

- https://github.com/material-components/material-components-web
- https://github.com/ant-design/ant-design
- https

[2018-04-04 07:59] warpech commented on #271
Two more questions:

1. Any chance of researching what is the desired way to apply a Vaadin theme to `uni-date-picker`?
2. Have you checked how it works with two-way data binding? Maybe it's worth adding to the demo page?

[2018-04-04 08:14] tomalec commented on #271
I think README for each component is valuable as we could cover there per-element quirks and caveats.

But I agree to keep them in the single repo.
Do you think we should also make it a single bower package? I don't have strong opinion, but I think I'd prefer to be able to install only one not entire bulk.

So the question is do we even register them to be able to do `bower install uni-date-picker

[2018-04-04 08:18] tomalec commented on #271
I suspect we would have to add style tag that forwards all the properties, not sure how about their `::part` polyfill.

Not yet, but Kitchensink demo works on localy (even though test fails). In worst case we would have to use attribute bindings (`attr$="{{"`) instead of properties (`attr="{{`). But usually for native elements properties are already reflected as attributes.

[2018-04-04 11:59] warpech commented on #271
I think a single package is good, because:

1. integration tests/demos for multiple components are an important factor. Having only one package forces us to consider compatibility of all components in it.
2. smaller overhead for maintaining and releases

Or leave them unregistered (less recognition as bower search will not find those so easily) so you would have to do bower install https://github.

[2018-04-04 13:12] tomalec commented on #271
Theming by providing their theme the way they suggested (before element creation) works fine. Also you can change theme's custom properties to adjust it.

I will now investigate if we could style shadow dom parts i run-time (or at least on composition creation)

[2018-04-04 13:42] tomalec commented on #271
I have not figured out the way to use shadow parts for per-element styling. Maybe somebody else would answer https://stackoverflow.com/questions/49652517/how-to-use-shadow-part-to-style-individual-vaadin-element.

Is there anything else theming related that you would like me to check?

[2018-04-05 08:11] tomalec commented on #271
I did that as mentioned above

commit already pushed and linked:

https://github.com/tomalec/uni-date-picker/commit/043567b3eadec2cfea27f0f99a65a792e9f8aa43#diff-dccab551c58c25bed3951e2cf7264f18R8

[2018-04-06 10:59] kegor opened #273 "Replace part of Assert's in tests to avoid flaky tests."
As the continuation of this comment https://github.com/Starcounter/KitchenSink/pull/270#pullrequestreview-108530843.

### Steps to reproduce
Run build for KitchenSink in TeamCity.

### Expected result
All green tests.

### Actual result
There might be various failed tests in various runs.

### Technical information

##### Starcounter version
Latest version available on TeamCity.

##### Involved ap

[2018-04-10 21:09] warpech commented on #273
Let's continue with this when https://github.com/Starcounter/KitchenSink/pull/274 is decided about.

[2018-04-11 10:38] kegor commented on #269
Closed because initial fixes were merged in #270, and new #273 was opened.

[2018-04-11 10:38] #269 closed

[2018-04-11 14:24] warpech commented on #263
This should be doable with `uni-flat-button`

[2018-04-11 14:26] warpech commented on #248
I am assigning it to you @alshakero, because from @PatrykSzwer's prestudy it seems that it is a client-side issue.

[2018-04-11 16:04] warpech opened #275 "A new structure for the menu"
The current menu structure (Rendering, Server Push, User Input) is not optimal for developers looking for easy path to learn how to build complex UI with Starcounter.

We should come up with a new menu structure that might be inspired by the menu structure of:

- https://material.io/guidelines/
- https://www.lightningdesignsystem.com/getting-started/
- https://www.predix-ui.com/
- http://carbondes

[2018-04-12 07:24] warpech commented on #271
Remaining steps after the PR is merged:

- release `uni-date-picker` in Starcounter 2.4, ask Apps Team to try it out

[2018-04-12 10:51] PatrykSzwer commented on #275
I think our new structure should contain at least 2 sections, one for the UI elements/components and one for our solutions for different functionalities.

Here are some of my propositions, we can vote for the best variant:

Names for the first `elements` section:
- **components**
- elements
- UI
- Look (only as a pair with feel)
- Style
- **Design**
- **Layout**
[code]

[2018-04-12 15:39] warpech commented on #275
For me, the 1st section should be none of the above, but rather `Design` or sth like that. This section will be about Underwear, Uniform, etc.

The 2nd section would be `Components`.

The 3rd section would be `Solutions` or `How-to guides` to pair it with "How-to guides" of the [Docs](https://docs.starcounter.io/v/2.4/how-to-guides).

[2018-04-12 17:47] tomalec commented on #275
I like the approach, suggested by @warpech of
1. Design,
2. Components,
3. How-to guides (Solutions, could be confused with the solution of apps if the reader comes from Starcounter's Blending docs)

[2018-04-13 08:12] PatrykSzwer commented on #275
But what would you like to add to `Design` section? I though we will "merge" Design and Components sections, to have uniform styling described under every component that can be styled by it. Unless you meant things like `uni-section` and `uni-card` described there, then I agree but I'm not sure how many of those will be there.

I suggested name `design` also :<

[2018-04-16 07:25] warpech commented on #275
Sure, the credit goes to you, but what I mean is that it should be a section should be separate from `Components`.

Sample content:

- Design
  - Sections (.uni-section) and when to use them
  - Cards (.uni-card) and when to use them
  - Titles (.uni-title) and when to use them
  - Layout with left side navigation (.uni-layout-left-nav) and when to use it
- Components
  - Datepicker
  - Dropdown

[2018-04-16 08:46] PatrykSzwer commented on #275
- Sections (.uni-section) and when to use them
  - Cards (.uni-card) and when to use them
  - Titles (.uni-title) and when to use them
  - Layout with left side navigation (.uni-layout-left-nav) and when to use it
- Components
  - Datepicker
  - Dropdown
  - Map
  - Pagination (.uni-pagination)
  - Text Input
- How to
  - Server push
  - Redirect

I really like this structure, let's ask @tomalec f

[2018-04-16 15:05] alshakero commented on #248
PR in https://github.com/Starcounter/KitchenSink/pull/277

[2018-04-16 17:26] tomalec commented on #275
I'd just add few thing more to the "design", like underwear and typography, just ot have a full showcase. Plus like a vision/principles/home page

- Home
- Design
  - Typograpy & native elements, (class-less markup)
  - Sections (.uni-section) and when to use them
  - ...

Other than that, LGTM

[2018-04-17 07:56] PatrykSzwer commented on #275
We decided with @warpech that this will be done in 2 iterations. In first I'll recreate menu structure and in a second we have to add those additional Design sections which do not exist right now.

[2018-04-17 13:37] tomalec commented on #271
- `<uni-date-picker>` is done and presented at https://starcounter.github.io/uniform.css/components/uni-date-picker/
- docs are available at https://github.com/Starcounter/uniform.css/tree/master/components#-uniform-components

I'll release new version of `uniform.css`@0.1.0 after [Putting underweaR](https://github.com/Starcounter/uniform.css/pull/75)

[2018-04-17 15:10] tomalec commented on #271
Released at [uniform.css@0.1.0](https://github.com/Starcounter/uniform.css/releases/tag/0.1.0), waiting for a [version PR](https://github.com/Starcounter/uniform.css/pull/76) to be approved, before rising another PR to StarcounterClientFiles

[2018-04-19 10:27] warpech commented on #271
Required for closing:

- release `uni-date-picker` in level1 (https://github.com/Starcounter/StarcounterClientFiles/pull/70)
- merge the PR in KS (https://github.com/Starcounter/KitchenSink/pull/281)

[2018-04-19 15:26] warpech opened #282 "Fix warning about styling master document from HTML Import"
In Chrome, currently I get the following error:

![image](https://user-images.githubusercontent.com/566463/39001489-af0e547e-43f6-11e8-8012-1d48d8c7a677.png)

Solve this according to information in https://github.com/Starcounter/RebelsLounge/issues/222#issuecomment-382777626

[2018-04-20 07:55] alshakero commented on #248
Closing as fixed in #277.

[2018-04-20 07:55] #248 closed

[2018-04-20 12:01] tomalec commented on #271
released in [StarcounterClientFiles@3.5.0](https://github.com/Starcounter/StarcounterClientFiles/releases/tag/3.5.0)

[2018-04-20 12:54] PatrykSzwer opened #283 "New menu structure part 2: fill design part of the menu"
Second iteration for https://github.com/Starcounter/KitchenSink/issues/275#issuecomment-381886800

We need to add new pages for `Design` menu part, e.g
- typography & native elements, (class-less markup)
- Sections (.uni-section) and when to use them
- Cards (.uni-card) and when to use them
- Titles (.uni-title) and when to use them
- Layout with left side navigation (.uni-layout-left-nav) and whe

[2018-04-20 12:55] PatrykSzwer commented on #275
Closing, new issue for part 2: #283.

[2018-04-20 12:55] #275 closed

[2018-04-22 20:17] warpech opened #284 "Add information about the current version of the app"
On the main page, add information about the current version of the app (ideally take it from assembly info).

This information will allow to easily see if the version deployed at https://kitchensink.starcounter.io/ is the current version of KitchenSink.

[2018-04-22 20:26] warpech commented on #205
The following is needed before this issue can be closed:

- [ ] Add instructions about deploying `kitchensink.starcounter.io` to CONTRIBUTING.md
- [ ] Update the screenshot in README.md with the text "Try KitchenSink live", move it to the top of README.md
- [ ] Change the default branch of this repo to `master-2.4` so that the screenshot is visible at https://github.com/Starcounter/KitchenSink

Fu

[2018-04-23 15:35] tomalec commented on #205
Don't we need a Blending Provider app, to remove the outmost margin?

[2018-04-23 15:46] alshakero commented on #164
@warpech could you make one single example of this? I tried with it a little and I don't really understand what we want out of it. If you could make a single page example I'd really appreciate it.

[2018-04-24 13:18] tomalec opened #287 "Does datepicker demo should contain so many inputs?"
### Steps to reproduce
Go to http://localhost:8080/KitchenSink/Datepicker and https://github.com/Starcounter/KitchenSink/blob/master-2.4/src/KitchenSink/wwwroot/KitchenSink/DatepickerPage.html

### Expected result

The example should be complete but not bloated

### Actual result
My personal feeling is that too many text inputs and labels are confusing https://github.com/Starcounter/KitchenSink/bl

[2018-04-24 13:50] warpech commented on #164
The absolute minimum for now is to add links to source code for HTML, JSON and JSON.CS files that make the triplet. I imagine it like this:

Add a `<kitchensink-page-links page="TextPage">` to each view.

`kitchensink-page-links` should render three GitHub links, for HTML, JSON and JSON.CS representations of the `page`.

You can use the version number from https://github.com/Starcounter/KitchenSin

[2018-04-24 14:00] alshakero commented on #164
I don't think this is needed. Here is what I did in `MasterPage.html`.

[code]

[2018-04-25 07:50] PatrykSzwer commented on #205
Yes, currently we're not setting margin anywhere in our design system (to not force it to user, just leave default `8px` one given by browser), instead, we're using custom composition of topbar layout to override it.

[2018-04-25 13:50] PatrykSzwer commented on #205
It's because of that (comes from normalize): https://github.com/Starcounter/underwear.css/blob/master/underwear.unminified.css#L26

[2018-04-25 14:28] tomalec commented on #287
//cc @warpech @PatrykSzwer

[2018-04-26 07:36] tomalec commented on #271
Kitchensink merged https://github.com/Starcounter/KitchenSink/pull/281.
Closing as done.

[2018-04-26 07:36] #271 closed

[2018-04-26 10:51] warpech opened #292 "Continuous delivery of KitchenSink"
In #205 we've established a manual process of deploying KitchenSink to https://kitchensink.starcounter.io/ that is explained in CONTRIBUTING.md.

A leftover of that issue is to deploy automatically when a new version of the app is released.

@ubbeK's thoughts about the process are here: https://github.com/Starcounter/KitchenSink/issues/205#issuecomment-348381939

@joozek78's response: https://gith

[2018-04-26 10:52] warpech commented on #205
Closing as done. Continuous delivery can be established later. It is tracked in https://github.com/Starcounter/KitchenSink/issues/292

[2018-04-26 10:52] #205 closed

[2018-04-26 11:06] tomalec commented on #287
Do we really need to present that C# is able to parse and split the date?

1. If no, I'd simply remove the code so the snippets would be easier to grastp.

2. If so, I'd suggest shorter and simpler markup, if parts are readonly.
[code]

3. If we want to showcase actual binding then I'd make inputs writeable, implement server-side logic, to parse it back. But for such demo, I'd remove `uni-date-pic

[2018-04-26 12:13] warpech commented on #164
This is interesting, but it won't work with pages that do not have code examples. There will be such pages in the "Design" section (https://github.com/Starcounter/KitchenSink/issues/283).

[2018-04-26 13:09] warpech opened #293 "Separate views into small nested views"
As a leftover from https://github.com/Starcounter/KitchenSink/issues/164 we need to do a bigger work in Q3.

Separate views that present the usage of components into small nested views, that are fully presentable as JSFiddle-like examples.

An example will consist of 4 tabs:

- html
- json
- json.cs
- Result (default)

It will look similar to the CodePen snippets in [the blog](https://www.pexels.c

[2018-04-26 14:57] alshakero commented on #164
I'll wait for https://github.com/Starcounter/KitchenSink/issues/283 to save ourselves the the cost of resolving conflicts.

[2018-04-26 15:49] warpech opened #295 "Redundant line in DatepickerPage"
@Mihaiii points out that this line https://github.com/Starcounter/KitchenSink/blob/79beb8e97c58facb0540aba5ebc500c1045c213a/src/KitchenSink/wwwroot/KitchenSink/DatepickerPage.html#L13 in DatepickerPage is redundant.

[2018-04-26 17:00] warpech commented on #229
@miyconst presented the requirements in https://github.com/Starcounter/RebelsLounge/issues/224#issuecomment-349266838

[2018-04-27 07:58] miyconst commented on #229
Big vote up for the issue from me.

[2018-04-29 09:43] kegor commented on #273
Closed because last reasonable changes were merged in #297.

[2018-04-29 09:43] #273 closed

[2018-04-30 07:52] tomalec commented on #295
PR is waiting for the review at https://github.com/Starcounter/KitchenSink/pull/298

[2018-04-30 20:01] tomalec commented on #295
Fixed by

[2018-04-30 20:01] #295 closed

[2018-05-01 11:11] PatrykSzwer opened #300 "Pages with asynchronous behaviors stopped working"
Related to https://github.com/joozek78/starcounter-async/issues/1

Every page that uses `AsyncInputHandlers` is not working now. Those pages are:
- Flash message
- Progress bar
- Lazy loading

After https://github.com/joozek78/starcounter-async/issues/1 is fixed this issue should be closed.

[2018-05-03 07:57] PatrykSzwer commented on #283
Closing as done.

[2018-05-03 07:57] #283 closed

[2018-05-03 15:48] alshakero commented on #164
PR in https://github.com/Starcounter/KitchenSink/pull/301

[2018-05-08 13:41] alshakero commented on #284
Done in https://github.com/Starcounter/KitchenSink/pull/301

[2018-05-08 13:41] #284 closed

[2018-05-09 10:35] #263 closed

[2018-05-09 14:21] alshakero opened #303 "Github source links don't work for Design section"
Related to https://github.com/Starcounter/KitchenSink/issues/164.

Due to difference URL pattern, the guessing is off for the section.

[2018-05-10 14:25] PatrykSzwer commented on #143
Closing as done (thankfully)

[2018-05-10 14:25] #143 closed

[2018-05-14 11:52] alshakero commented on #303
Closing as done in https://github.com/Starcounter/KitchenSink/pull/305

[2018-05-14 11:52] #303 closed

[2018-05-14 17:29] tomalec opened #307 "Layout is broken in Egde"
### Steps to reproduce
1. Open http://localhost:8080/KitchenSink/Native in Edge

### Expected result
To see more-or-less same thing as in Chrome or FF

### Actual result
The menu and cards are not visible

### Technical information

##### Starcounter version 2.4.0.6077

##### Involved apps' version

- @5c34b5fda06c927c02ab9a0e00afced6d4cf73dc

##### Browsers affected

- [ ] Chrome
- [ ] Firefox
-

[2018-05-16 08:44] PatrykSzwer commented on #300
Closing as done. #306

[2018-05-16 08:44] #300 closed

[2018-05-17 07:29] tomalec commented on #282
It is not `<link rel="preload" href="..uniform.css">` but `<link rel="stylesheet" href="/KitchenSink/style.css">` causing the problem. I'm reopening the issue, and taking it over.

[2018-05-17 14:17] tomalec opened #308 "github-source-links element is in dependencies folder"
All KitchenSink specific element should be kept in `src/KitchenSink/wwwroot/KitchenSink/*`.

BTW, If we are not planning to use it outside KitchenSink, I'd call it `kitchensink-gh-source-link`, to emphasize how specific to KitchenSink it is.

### Steps to reproduce
1. Prune bower dependencies folder `$ rm -rf src/KitchenSink/wwwroot/sys/`,
2. `bower install`

### Expected result
All dependencies s

[2018-05-17 15:39] tomalec commented on #282
Closing as all changes on our end are done in https://github.com/Starcounter/KitchenSink/pull/309
Remaining packages that are still using the styles in imported docs, are:
- `font-roboto`,
- `vaadin-date-picker`,

`paper-elements` are still triggering the warning, even though they are not affected by the dropped support.

[2018-05-17 15:39] #282 closed

[2018-05-17 16:50] warpech opened #310 "kitchensink.starcounter.io is offline"
https://kitchensink.starcounter.io/ is offline. @PatrykSzwer could you pls bring it up?

[2018-05-18 10:05] PatrykSzwer commented on #310
Sure! It's back online.

[2018-05-21 12:28] warpech commented on #310
@miyconst an app deployed on AWS EC2 machine died with no reason and could not start without reinstalling. Is it something we should investigate? Where to look for clues?

Closing this issue for now.

[2018-05-21 12:28] #310 closed

[2018-05-21 20:45] warpech opened #311 "Check the status of hosted KitchenSink in the monitoring tool"
as explained in https://github.com/Starcounter/level1/issues/1452#issuecomment-385332647

[2018-05-24 14:32] warpech opened #312 "Make MasterPage responsive"
Make `MasterPage.html` responsive, so that on mobile devices it uses a single-column layout, not a two column one.

[2018-05-25 09:21] warpech commented on #24
Archiving. C# dependency injection is not a commonly required pattern nor it is a UI problem so I don't see how it fits in KitchenSink.

[2018-05-25 09:21] #24 closed

[2018-05-28 12:30] warpech commented on #172
Closing because Vaadin Themes are global.

Scoped CSS custom properties work well but the need for presenting it in KitchenSink is not big.

[2018-05-28 12:30] #172 closed

[2018-05-30 09:13] warpech opened #313 "Links to source code are 404s on home page"
On https://kitchensink.starcounter.io/, the links to the source code lead to 404 pages.

![404s](https://user-images.githubusercontent.com/566463/40711052-7da39c7c-63fa-11e8-8c1f-8393c1b8a814.gif)

[2018-05-30 09:21] alshakero commented on #313
Releasing current master to KS 2.4 and deploying it there should fix this. I fixed this on `master`. Also, SC version needs to be updated on the instance, current version has a bug.

[2018-05-30 10:03] warpech commented on #313
Thanks, in that case this issue can be closed as fixed

[2018-06-01 11:38] alshakero commented on #313
Deployed now https://kitchensink.starcounter.io

[2018-06-01 14:16] Joltrix opened #315 "Release 2.4.0"
Releases and fixes #313

Release notes: https://github.com/Starcounter/KitchenSink/releases/edit/untagged-d668347ea4af1fff698e

[2018-06-01 14:16] Joltrix opened #316 "Links to source code are 404s on home page"
On https://kitchensink.starcounter.io/, the links to the source code lead to 404 pages.

![404s](https://user-images.githubusercontent.com/566463/40711052-7da39c7c-63fa-11e8-8c1f-8393c1b8a814.gif)

[2018-06-01 15:12] #315 closed

[2018-06-01 15:12] #316 closed

[2018-06-01 19:38] warpech commented on #313
@alshakero I still see the same problem with `App version: 2.4.0, running on Starcounter: 2.4.0.6192`. Can you pls double check?

[2018-06-01 21:03] alshakero commented on #313
That's strange. Maybe you have the custom-element cached. Could you try CTRL + F5?

Here is a video https://youtu.be/1JYdjy5Cg8k

[2018-06-04 07:17] warpech commented on #313
The problem appears on MainPage for me:

![mainpage](https://user-images.githubusercontent.com/566463/40903563-00d17e4e-67d8-11e8-956b-b1aa6d966dd0.gif)

[2018-06-07 00:10] warpech commented on #229
It should use `uni-data-table` (https://github.com/Starcounter/uniform.css/issues/112). @PatrykSzwer can you pls work on the view-model part of it?

[2018-06-07 00:11] warpech commented on #213
Will be part of #229.

[2018-06-07 00:12] #213 closed

[2018-06-11 15:35] #313 closed

[2018-06-12 11:25] warpech opened #318 "Move text from Uniform and Underwear docs and demo pages to KitchenSink"
As discussed on the today's meeting between me and @alshakero, @PatrykSzwer, @tomalec and Rolf, we are merging docs of Underwear and Uniform into KitchenSink.

As the first step in that work, move text from Uniform and Underwear docs and demo pages to the relevant KitchenSink pages.

[2018-06-12 11:25] warpech opened #319 "Rename KitchenSink to UniformDocs"
Rename KitchenSink (repo, solution, project, appname) to UniformDocs

[2018-06-12 11:26] warpech opened #320 "Deploy UniformDocs at the new web domain"
Deploy UniformDocs at the new web domain

[2018-06-12 20:28] warpech opened #321 "Verify the structure and content of UniformDocs with Rolf"
Verify the structure and content of UniformDocs with Rolf

[2018-06-12 20:58] warpech commented on #308
Fixed in https://github.com/Starcounter/KitchenSink/pull/317

[2018-06-12 20:58] #308 closed

[2018-06-12 21:03] warpech opened #322 "Review and improve the content of UniformDocs"
This issue is to track @rolfsmeds' review and suggestion of improvement of the content of UniformDocs

[2018-06-13 11:29] alshakero opened #324 "Be more selective with tests you give more than once chance"
Currently I'm repeating failing tests 5 times to handle stale element references. If the tests is actually failing it's taking 50 seconds! That's a very long time.

I will only retry when then exception is of StaleElementReference type.

[2018-06-13 13:08] warpech commented on #320
The task about buying the new web domains is here: https://github.com/Starcounter/CompanyTrack/issues/404

For the time being, I created an alias `uniform.starcounter.io` that points to the same server as `kitchensink.starcounter.io`

[2018-06-14 07:32] warpech commented on #321
The new structure is proposed in https://docs.google.com/document/d/1Cvq1v6rlaPN7AuvrinrLrlGNZ9rX0rn5g0_XZiCuA74/edit#

Comments welcome.

[2018-06-18 10:00] PatrykSzwer opened #326 "Switching from page flash message too fast raises an exception"
### Steps to reproduce
1. Go to http://localhost:8080/UniformDocs/FlashMessage
2. Click `Trigger message from client side` button.
3. Immediately switch your page to any other with navigation menu on the left.
4. Wait couple of seconds.
### Expected result
Nothing happen, everything stays fully functional.
### Actual result
After couple of seconds you will get exception:
[code]

[2018-06-25 08:33] alshakero commented on #319
Closing as done in https://github.com/Starcounter/UniformDocs/pull/323

[2018-06-25 08:33] #319 closed

[2018-07-03 08:10] warpech opened #329 "Datepicker page shows undefined-aN-ed"
Datepicker page shows `undefined-aN-ed` instead of the expected date. Could this be connected to renaming the app somehow?

@alshakero pls investigate

Screenshot:

<img width="1499" alt="screen shot 2018-07-03 at 10 08 56" src="https://user-images.githubusercontent.com/566463/42207072-447b52f4-7ea9-11e8-9bba-85a0acf6180f.png">

[2018-07-03 08:13] warpech commented on #320
This is almost done.

@alshakero could you pls fix the links in `starcounter.io` to point to the new domain?

[2018-07-03 08:17] alshakero commented on #320
Sure!

[2018-07-03 09:40] alshakero commented on #320
Closing as all done https://github.com/Starcounter/Docs/pull/237.

[2018-07-03 09:41] #320 closed

[2018-07-03 11:44] warpech commented on #320
This was not done. I will do it.

[2018-07-03 12:02] alshakero commented on #329
I digged so deep but I still don't understand the reason.

I had the same issue in my local `uniform.css` demo, I ran `bower up` and it was fixed. But I lost the old `bower_components` so I don't know what was updated (`bower_components` is gitignored).

Then, under UnifromDocs, I started updating dependancies one by one to match them with `uniform.css` demo, `polymer`  ✔️, `vaadin-date-picker` ✔️

[2018-07-03 12:02] #329 closed

[2018-07-03 12:09] warpech commented on #320
Done

[2018-07-03 12:13] warpech commented on #329
Did you try displaying Bower versions in Starcounter DevTools? Was it not helpful?

I would like to improve detectability of such issues in future. Any ideas?

[2018-07-06 19:21] warpech commented on #311
@alshakero please add `uniform.starcounter.io` to updown.io according to the instructions in  https://github.com/Starcounter/level1/issues/1452#issuecomment-385332647

[2018-07-10 09:21] warpech commented on #311
Right about, hosted UniformDocs went down due to unplanned server restart, which was reported today by @Joltrix. I will set up monitoring ASAP.

[2018-07-10 09:29] warpech commented on #311
Done

[2018-07-10 09:29] #311 closed

[2018-07-10 15:05] alshakero opened #332 "Tests are failing with "The name 'Blender' does not exist in the current context""
The build details are here: https://teamcity.starcounter.org/viewLog.html?buildId=60392&buildTypeId=Apps_UniformDocs_UniformDocsMaster24branchWithStarcounterDevelopNightly&tab=buildLog

I think it's a level1 issue since the build was passing before and no changes happened to this app.

[2018-07-11 09:54] warpech commented on #332
Can this be closed now?

[2018-07-11 09:56] alshakero commented on #332
Yes. Fixed in https://github.com/Starcounter/UniformDocs/pull/333

[2018-07-11 09:56] #332 closed

[2018-07-12 08:51] #318 closed

[2018-07-12 13:11] miyconst opened #335 "Invalid Menu Item - UniformDocs/Datagrid"
There is an invalid Menu Item which leads to a 404 page:

- [Datagrid](https://uniform.starcounter.io/UniformDocs/Datagrid).

![image](https://user-images.githubusercontent.com/6435556/42635260-e045de28-85e5-11e8-96ad-92fec175b25e.png)

[2018-07-13 08:03] warpech commented on #335
Thanks for reporting. Closing as done, will be released soon

[2018-07-13 08:03] #335 closed

[2018-07-20 09:39] warpech opened #339 "Document the data table component"
Merge the docs from:

- https://github.com/Starcounter/uniform.css/blob/master/components/uni-data-table/README.md - https://github.com/Starcounter/Starcounter.Uniform/blob/master/README.md

into the page https://uniform.starcounter.io/UniformDocs/DataTable

[2018-07-26 11:30] warpech opened #342 "UI Kit SVGs are not displayed with a correct font"
See the screenshot:

<img width="1337" alt="screen shot 2018-07-26 at 13 29 45" src="https://user-images.githubusercontent.com/566463/43259881-1808dd4a-90d8-11e8-90dc-f079ee2f04b5.png">

[2018-07-30 08:38] warpech commented on #339
Closing as done in #341

[2018-07-30 08:38] #339 closed

[2018-07-30 12:06] tomalec opened #344 "Action trigger trick works only for leaf nodes"
I'm not sure if this is the right repo to reprt such problem, as it is not related to Design System, but to deta binding system and the way we integrate our Palindrom, with Polymer, with common UI patterns.

The issue was discovered by @kegor at https://github.com/Starcounter/Showroom/pull/8#discussion_r205279916 After some investigation it seems like it may affect other cases as well. I isolated

[2018-07-30 12:12] tomalec commented on #344
Seems to be related to pretty old https://github.com/Polymer/polymer/issues/2497

[2018-07-30 13:05] alshakero commented on #344
This is a very old issue that we faced earlier and AFAIR @miyconst suffered the most from it. @miyconst do you rememeber what was the quickest workaround? I can't remember where was the issue filed, if you could link to it it would be great.

[2018-07-30 19:09] tomalec commented on #344
My PR for Polymer 2.x was approved. Hopefully, will be merged soon, so we will not have to waste any time on workarounds.

[2018-07-30 21:15] #342 closed

[2018-07-31 09:55] alshakero commented on #344
For the record. Out of curiosity I digged the issue history and the workaround was to give child elements `pointer-events: none` if someone ever needs that. Explained [`here`](https://github.com/Starcounter/UniformDocs/pull/134#issuecomment-309726468).

[2018-08-01 11:08] alshakero opened #348 "Pressing Remove in uni-data-table page causes a server exception"
It seems like the same bug as this https://github.com/Starcounter/Website/issues/176.

I don't fully understand what's going on, but commenting out [this line](https://github.com/Starcounter/UniformDocs/blob/master/src/UniformDocs/ViewModels/Components/DataTableRow.json.cs#L10) fixes the server side issue. Not sure if it is actually a solution though.

Worth noting that there are two bugs here. Se

[2018-08-02 12:46] warpech commented on #348
I created a fix because @PatrykSzwer is on vacation. Fix is in PR #350

[2018-08-02 13:52] warpech opened #351 "Present the way to do blendable menus"
Present the way to do blendable menus, including blending rules.

Then, `<slot-all>` used in #343 can be removed from the left navigation in `MasterPage.html`, because the information about blendable menus will be a more realistic presentation of that.

[2018-08-02 20:51] #348 closed

[2018-08-02 21:33] tomalec commented on #351
Sorry, but I don't understand

What would blending rules change for slot names? I think `<slot-all>` should be used anyway. As parent view developer you never know what elements, with what slot names will get blended into partial/sub view

[2018-08-03 09:39] warpech commented on #351
It was discussed today on a meeting with me and @tomalec, that we will keep the current blendable menu on the left to eat our dogfood.

@tomalec will add a page about blendable menus which will include a simple blended menu of 4 items, that is used in 3 examples:

- side navigation that uses `uni-layout-left-nav`
- dropdown similar to the one used in the Timeline app
- CSS Grid similar to the one

[2018-08-09 16:12] Mihaiii opened #353 "Fixed SideBar (NavPage)?"
As a regular user, I find it a little bit frustrating when I just want to navigate through different items and I'm not looking for something specific.

Gif:
![uniformdocs](https://user-images.githubusercontent.com/8951553/43911417-b008baf2-9bff-11e8-9e16-b203a312a5f8.gif)

[2018-08-09 16:23] alshakero commented on #353
If I'm not wrong this is only acheivable if the sidebar has a max height of 100vh and has more. Or it should have scroll bars like this:
![image](https://user-images.githubusercontent.com/17054134/43911972-31827d9c-9c01-11e8-802c-e8d104f5848e.png)

Which I think looks strange.

[2018-08-09 16:36] Mihaiii commented on #353
It doesn't have to be there all the time. This is a nice example, IMO: https://semantic-ui.com/introduction/integrations.html .

Anyway, feel free to close it.

[2018-08-09 16:46] alshakero commented on #353
I agree this is super lovely. Maybe we should have that in `uni-layout-left-nav`

/cc @tomalec @warpech